/* Espaciado entre el input y el ícono */

.input-group {
    position: relative;
    border-radius: 10px;
}

.input-group .ti-search {
    color: #000;
    position: absolute;
    right: 10px;
    top: 10%;
    transform: translateX(-150%);
}

.error-message {
    color: red;
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 5px;
}

.pagination-and-items-per-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.items-per-page select {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: none;
}

.input-group {
    position: relative;
    border-radius: 10px;
}

.input-group .ti-search {
    color: #000;
    position: absolute;
    right: 10px;
    top: 10%;
    transform: translateX(-150%);
}

.error-message {
    color: red;
}

.modal-dialog {
    max-width: 90%;
}

h3 {
    text-align: center;
}

h4 {
    text-align: right;
    color: red;
}

h2 {
    text-align: center;
}