<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Usuarios</h3>
            </div>
            <div class="card-body border-bottom py-3">
                <div class="d-flex">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-report"
                        (click)="handleChangeAdd()">
                        <i class="ti ti-plus me-1"></i>Agregar usuario
                    </button>
                    <div class="ms-auto d-flex align-items-center">
                        <div class="input-icon">
                            <input #busquedaInput type="text" [(ngModel)]="filtro"
                                class="form-control form-control-rounded" placeholder="Buscar" />
                            <span class="input-icon-addon">
                                <i class="ti ti-search"></i>
                            </span>
                        </div>
                        <a class="btn w-30 btn-icon" aria-label="Dribbble" (click)="exportarDatosAExcel()"
                            title="Descargar excel de usuarios"
                            style="margin-left: 8px; padding-top: 4px; padding-bottom: 4px">
                            <i class="ti ti-cloud-down text-muted" style="font-size: 28px"></i>
                        </a>
                    </div>

                </div>
            </div>

            <ng-container [ngSwitch]="isLoadingUsers">
                <div class="progress" *ngSwitchCase="2">
                    <div class="progress-bar progress-bar-indeterminate bg-green"></div>
                </div>

                <div *ngSwitchCase="3">

                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th style="text-transform: none; font-size: inherit" class="text-center;w-1">#</th>
                                    <th style="text-transform: none; font-size: inherit">Nombre(s)</th>
                                    <th style="text-transform: none; font-size: inherit">Apellido(s)</th>
                                    <th style="text-transform: none; font-size: inherit">Rol</th>
                                    <th style="text-transform: none; font-size: inherit">Correo</th>
                                    <th style="text-transform: none; font-size: inherit">Estatus</th>
                                    <th style="text-transform: none; font-size: inherit;width: 7%" class="text-center">
                                        Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody">
                                <tr></tr>
                                <tr
                                    *ngFor="let usuario of filtrarResultados()  | paginate : configPaginator; let pointIndex = index">
                                    <td>{{ usuario.id }}</td>
                                    <td>{{ usuario.nombres }}</td>
                                    <td>{{ usuario.apellidoPaterno }} {{ usuario.apellidoMaterno }}</td>
                                    <td>{{ usuario.rol.nombreRol }}</td>
                                    <td>{{ usuario.correo }}</td>
                                    <td>
                                        <ng-container *ngIf="usuario.estatus; else elseEST">
                                            <span class="badge bg-success me-1"></span>Activo
                                        </ng-container>
                                        <ng-template #elseEST>
                                            <span class="badge bg-danger me-1"></span> Inactivo
                                        </ng-template>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <button class="btn btn-warning btn-icon btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#modal-report" (click)="setDataModalUpdate(usuario)">
                                                <i class="ti ti-edit"></i>
                                            </button>
                                            <button class="btn btn-danger btn-icon btn-sm" (click)="
                          borrarUsuario(usuario.id, usuario.nombres)
                        ">
                                                <i class="ti ti-eraser"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
                <app-no-results *ngSwitchCase="4"></app-no-results>
            </ng-container>
            <div class="card-footer d-flex align-items-center">
                <p class="m-0 text-muted">
                    Total de registros: <b>{{ usuariosFilter.length }}</b>
                </p>
                <div class="m-0 ms-auto">
                    <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL AGREGAR USUARIO-->
    <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ isModalAdd ? "Agregar" : "Actualizar" }} usuario
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        #closebutton></button>
                </div>

                <form [formGroup]="userForm" (ngSubmit)="submitUsuario()">
                    <div class="modal-body">
                        <!-- Inicio del formulario -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Nombre*:</label>
                                    <input type="text" class="form-control" formControlName="nombres" />
                                    <div *ngIf="userForm.get('nombres')?.touched" class="error-message">
                                        <div *ngIf="
                          userForm.get('nombres')?.hasError('required')
                        ">
                                            El nombre es requerido
                                        </div>
                                        <div *ngIf="
                          userForm.get('nombres')?.hasError('minlength')
                        ">
                                            El nombre debe tener al menos 3 caracteres
                                        </div>
                                        <div *ngIf="userForm.get('nombres')?.hasError('pattern')">
                                            El nombre no puede tener números ni signos
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Apellido paterno*:</label>
                                    <input type="text" class="form-control" formControlName="apellidoPaterno" />
                                    <div *ngIf="userForm.get('apellidoPaterno')?.touched" class="error-message">
                                        <div *ngIf="
                          userForm.get('apellidoPaterno')?.hasError('required')
                        ">
                                            El apellido paterno es requerido
                                        </div>
                                        <div *ngIf="
                          userForm.get('apellidoPaterno')?.hasError('minlength')
                        ">
                                            El apellido paterno debe tener al menos 3 caracteres
                                        </div>
                                        <div *ngIf="userForm.get('apellidoPaterno')?.hasError('pattern')">
                                            El apellido paterno no puede tener números ni signos
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Apellido materno*:</label>
                                    <input type="text" class="form-control" formControlName="apellidoMaterno" />
                                    <div *ngIf="userForm.get('apellidoMaterno')?.touched" class="error-message">
                                        <div *ngIf="
                          userForm.get('apellidoMaterno')?.hasError('required')
                        ">
                                            El apellido materno es requerido
                                        </div>
                                        <div *ngIf="
                          userForm.get('apellidoMaterno')?.hasError('minlength')
                        ">
                                            El apellido materno debe tener al menos 3 caracteres
                                        </div>
                                        <div *ngIf="userForm.get('apellidoMaterno')?.hasError('pattern')">
                                            El apellido materno no puede tener números ni signos
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Correo electrónico*:</label>
                                    <input type="text" class="form-control" formControlName="correo" />
                                    <div *ngIf="userForm.get('correo')?.touched" class="error-message">
                                        <div *ngIf="userForm.get('correo')?.hasError('required')">
                                            El correo electrónico es requerido
                                        </div>
                                        <div *ngIf="userForm.get('correo')?.hasError('email')">
                                            Ingresa una dirección de correo electrónico válida
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Contraseña*:</label>
                                    <input type="password" class="form-control" formControlName="password" />

                                    <div *ngIf="userForm.get('password')?.touched" class="error-message">
                                        <div *ngIf="userForm.get('password')?.hasError('required')">
                                            La contraseña es requerida
                                        </div>
                                        <div *ngIf="userForm.get('password')?.hasError('minlength')">
                                            La contraseña debe tener al menos 8 caracteres
                                        </div>
                                        <div *ngIf="userForm.get('password')?.hasError('pattern')">
                                            La contraseña debe contener al menos una letra mayúscula y un número
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Rol*:</label>
                                    <ng-select placeholder="Elegir" [items]="roles" bindLabel="nombreRol" bindValue="id"
                                        [searchable]="false" [clearable]="false" formControlName="rol">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{ item.nombreRol }}
                                        </ng-template>
                                    </ng-select>

                                    <div *ngIf="userForm.get('rol')?.touched" class="error-message">
                                        <div *ngIf="userForm.get('rol')?.hasError('required')">
                                            El rol es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <label>Estatus: </label><br />
                                <div class="form-group">
                                    <div class="form-check form-switch mt-1 ml-2 custom-green-switch">
                                        <input class="form-check-input" type="checkbox" (change)="setEstatus()" ng ser
                                            name="estatusBtn" formControlName="estatus" />
                                        <span class="form-check-label" [ngClass]="
                          userForm.get('estatus')?.value
                            ? 'text-success'
                            : 'text-danger'
                        ">
                                            {{
                                            userForm.get("estatus")?.value
                                            ? "Activo"
                                            : "Inactivo"
                                            }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="form-label" style="margin-left: 30px;color: red;font-weight: bold;margin-top: 30px;">
                            Todos los campos marcados con * son requeridos</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">
                            {{ isModalAdd ? "Agregar" : "Actualizar" }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--FIN MODAL-->
</div>