<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tipo de Agrupación</h3>
            </div>
            <div class="card-body border-bottom py-3">
                <div class="d-flex">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-partido-politico" (click)="handleChangeAdd()">
                    <i class="ti ti-plus me-1"></i>Agregar Agrupación Política
                  </button>
                </div>
            </div>
            <br>
            <div class="btn-group mb-3" role="group">
                <button type="button" class="btn btn-candidatura" (click)="filtrarCandidaturas('Partido Politico')" [class.btn-success]="filtro === 'Partido Politico'" [class.btn-secondary]="filtro !== 'Partido Politico'">Partido Politico</button>
                <button type="button" class="btn btn-candidatura" (click)="filtrarCandidaturas('Candidatura Común')" [class.btn-success]="filtro === 'Candidatura Común'" [class.btn-secondary]="filtro !== 'Candidatura Común'">Candidatura Común</button>
                <button type="button" class="btn btn-candidatura" (click)="filtrarCandidaturas('Coalición')" [class.btn-success]="filtro === 'Coalición'" [class.btn-secondary]="filtro !== 'Coalición'">Coalición</button>
                <button type="button" class="btn btn-candidatura" (click)="filtrarCandidaturas('Candidatura Independiente')" [class.btn-success]="filtro === 'Candidatura Independiente'" [class.btn-secondary]="filtro !== 'Candidatura Independiente'">Candidatura Independiente</button>
                <button type="button" class="btn btn-candidatura" (click)="mostrarTodasCandidaturas()" [class.btn-success]="filtro === ''" [class.btn-secondary]="filtro !== ''">Mostrar Todas</button>
            </div>
            <ng-container [ngSwitch]="isLoadingUsers">
                <div class="progress" *ngSwitchCase="2">
                    <div class="progress-bar progress-bar-indeterminate bg-green"></div>
                </div>

                <div *ngSwitchCase="1">

                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th>Logo</th>
                                    <th>Tipo de agrupación</th>
                                    <th>Nombre</th>
                                    <th>Acronimo</th>
                                    <th>Estatus</th>
                                    <th class="text-center" style="width: 7%">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody">
                                <tr></tr>
                                <tr *ngFor="let partido of datos | filterByTipoCandidatura:filtro">
                                    <td class="justify-content-center">
                                        <img [src]="obtenerRutaImagen(partido.foto)" alt="Foto de {{ partido.acronimo }}" width="50" height="50" />
                                    </td>
                                    <td>{{ partido.nombreCandidatura }}</td>
                                    <td>{{ partido.logo }}</td>
                                    <td>{{ partido.acronimo }}</td>
                                    <td>
                                        <ng-container *ngIf="partido.estatus; else elseEST">
                                            <span class="badge bg-success me-1"></span>Activo
                                        </ng-container>
                                        <ng-template #elseEST>
                                            <span class="badge bg-danger me-1"></span> Inactivo
                                        </ng-template>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <button class="btn btn-warning btn-icon btn-sm" data-bs-toggle="modal" data-bs-target="#modal-report">
              <i class="ti ti-edit"></i>
            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <app-no-results *ngSwitchCase="4"></app-no-results>
            </ng-container>
        </div>
    </div>
</div>

<!--MODAL AGREGAR AGRUPACIÓN-->
<div class="modal modal-blur fade" id="modal-partido-politico" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ isModalAdd ? "Agregar" : "Actualizar" }} Agrupación Política
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closebutton></button>
            </div>

            <form [formGroup]="partidoForm" (ngSubmit)="agregarCargo()">
                <div class="modal-body">
                    <!-- Tipo de Agrupación -->
                    <div class="col-lg-12">
                        <div class="mb-1">
                            <div class="form-group">
                                <label for="candidatura" style="margin-bottom: 5px;">Tipo de Agrupación *</label>
                                <select class="form-select" formControlName="candidatura" id="candidatura">                                  <option value="">Selecciona una opción...</option>
                                  <option value="1">Partido político</option>
                                  <option value="2">Candidatura común</option>
                                  <option value="3">Coalición</option>
                                  <option value="4">Candidatura independiente</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Campo de Nombre del partido -->
                    <div class="form-group">
                        <label for="nombreCandidatura">Nombre de la agrupación:</label>
                        <input type="text" class="form-control" id="logo" formControlName="logo">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="acronimo">Acrónimo de la agrupación:</label>
                        <input type="text" class="form-control" id="acronimo" formControlName="acronimo">
                    </div>
                    <br>
                    <!-- Campo de Subir Imagen -->
                    <div class="row">
                        <div class="col-lg-12 d-flex align-items-center justify-content-center">
                            <div class="mb-1 text-center">
                                <label class="form-label">Emblema de la Agrupación *</label>
                                <!-- Campo de Subir Imagen -->
                                <div class="form-group">
                                    <label for="imagen" class="img-thumbnail" id="imagen-label" *ngIf="!previewImage">
                              <img src="assets/images/placeholderimage.png" alt="Subir imagen" style="width: 200px;">
                              <input type="file" class="form-control-file custom-file-input" id="imagen" (change)="onImageChange($event)" style="display: none;" accept="image/*" [formControl]="imagenControl">
                            </label>
                                </div>
                                <br>
                                <label>Haz clic aquí para seleccionar una imagen desde tu dispositivo</label>
                                <!-- Vista previa de la imagen -->
                                <div *ngIf="previewImage" class="mt-3">
                                    <label>Imagen seleccionada:</label>
                                    <br><br><br>
                                    <img [src]="previewImage" class="img-thumbnail" alt="Vista previa de la imagen" style="width: 200px;">
                                    <br><br>
                                    <button class="btn btn-danger mt-2" *ngIf="previewImage" (click)="eliminarImagen()">Eliminar Imagen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="estadoActivo" class="form-label">Estatus</label>
                            <label class="form-check form-switch checkbox-verde">
                <input
                  class="form-check-input"
                  type="checkbox"
                  formControlName="estatus"
                />
                <span
                  class="form-check-label"
                  [ngClass]="{
                    'text-success': partidoForm.get('estatus')?.value === true,
                    'text-danger': partidoForm.get('estatus')?.value === false
                  }"
                >
                  {{
                    partidoForm.get("estatus")?.value ? "Activo" : "Inactivo"
                  }}
                </span>
              </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
            {{ isModalAdd ? "Agregar" : "Actualizar" }}
          </button>
                </div>
            </form>
        </div>
    </div>
</div>