<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tipo de agrupación</h3>
            </div>
            <div class="card-body border-bottom py-3">
                <div class="d-flex">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-partido-politico" (click)="handleChangeAdd()">
                    <i class="ti ti-plus me-1"></i>Agregar agrupación política
                  </button>
                </div>
            </div>
            <br>
            <div class="btn-group mb-3" role="group">
                <button type="button" class="btn btn-candidatura" (click)="filtrarCandidaturas('Partido Político')" [class.btn-success]="filtro === 'Partido Político'" [class.btn-secondary]="filtro !== 'Partido Politico'">Partido politico</button>
                <button type="button" class="btn btn-candidatura" (click)="filtrarCandidaturas('Candidatura Común')" [class.btn-success]="filtro === 'Candidatura Común'" [class.btn-secondary]="filtro !== 'Candidatura Común'">Candidatura común</button>
                <button type="button" class="btn btn-candidatura" (click)="filtrarCandidaturas('Coalición')" [class.btn-success]="filtro === 'Coalición'" [class.btn-secondary]="filtro !== 'Coalición'">Coalición</button>
                <button type="button" class="btn btn-candidatura" (click)="filtrarCandidaturas('Candidatura Independiente')" [class.btn-success]="filtro === 'Candidatura Independiente'" [class.btn-secondary]="filtro !== 'Candidatura Independiente'">Candidatura independiente</button>
                <button type="button" class="btn btn-candidatura" (click)="mostrarTodasCandidaturas()" [class.btn-success]="filtro === ''" [class.btn-secondary]="filtro !== ''">Mostrar todas</button>
            </div>
            <ng-container [ngSwitch]="isLoadingUsers">
                <div class="progress" *ngSwitchCase="2">
                    <div class="progress-bar progress-bar-indeterminate bg-green"></div>
                </div>

                <div *ngSwitchCase="1">

                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th style="text-transform: none; font-size: inherit" class="text-center">Logo</th>
                                    <th style="text-transform: none; font-size: inherit" class="text-center">Tipo de agrupación</th>
                                    <th style="text-transform: none; font-size: inherit" class="text-center">Nombre</th>
                                    <th style="text-transform: none; font-size: inherit" class="text-center">Acronimo</th>
                                    <th style="text-transform: none; font-size: inherit" class="text-center">Estatus</th>
                                    <th style="text-transform: none; font-size: inherit" class="text-center" style="width: 7%">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody">
                                <tr></tr>
                                <tr *ngFor="let candidaturalist of datos2 | filterByTipoCandidatura:filtro| paginate : configPaginator; let pointIndex = index">
                                    <td style="margin-left: 100px; margin-right: 100px; text-align: center" >
                                        <img
                                        [src]="obtenerRutaImagen(candidaturalist.logo)"
                                        alt="Foto de {{ candidaturalist.logo }}"
                                        width="50"
                                        height="50"
                                        (click)="
                                          mostrarImagenAmpliada(obtenerRutaImagen(candidaturalist.logo))
                                        "
                                      />
                                    </td>
                                    
                                    <td>{{ candidaturalist.tipoOrganizacionPolitica.tipoOrganizacion }}</td>
                                    <td>{{ candidaturalist.nombreOrganizacion }}</td>
                                    <td>{{ candidaturalist.acronimo }}</td>
                                    <td>
                                        <ng-container *ngIf="candidaturalist.estatus; else elseEST">
                                            <span class="badge bg-success me-1"></span>Activo
                                        </ng-container>
                                        <ng-template #elseEST>
                                            <span class="badge bg-danger me-1"></span> Inactivo
                                        </ng-template>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <button class="btn btn-warning btn-icon btn-sm" data-bs-toggle="modal" data-bs-target="#modal-partido-politico" (click)="setDataModalUpdate(candidaturalist)">
              <i class="ti ti-edit"></i>
            </button>
            <button
            class="btn btn-danger btn-icon btn-sm"
            (click)="deleteItem(candidaturalist.id, candidaturalist.nombreOrganizacion)"
          >
            <i class="ti ti-eraser"></i>
          </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <app-no-results *ngSwitchCase="4"></app-no-results>
            </ng-container>
            <div class="card-footer d-flex align-items-center">
                <p class="m-0 text-muted">
                    Total de registros: <b>{{ usuariosFilter.length }}</b>
                </p>
                <div class="m-0 ms-auto">
                    <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL AGREGAR AGRUPACIÓN-->
<div class="modal modal-blur fade" id="modal-partido-politico" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ isModalAdd ? "Agregar" : "Actualizar" }} agrupación política
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closebutton (click)="eliminarImagen($event);mostrar();"></button>
            </div>

            <form [formGroup]="partidoForm" (ngSubmit)="submit()">
                <div class="modal-body">
                    <!-- Tipo de Agrupación -->
                    <div class="col-lg-12">
                        <div class="mb-1">
                            <div class="form-group">
                                <label for="candidatura" style="margin-bottom: 5px;">Tipo de agrupación*:</label>
                                <ng-select placeholder="Elegir" [items]="TipoCandidaturas" bindLabel="tipoOrganizacion" bindValue="id" [searchable]="false" [clearable]="false" formControlName="candidatura">
                                    <ng-template ng-option-tmp let-item="item">
                                        {{ item.tipoOrganizacion
                                        }}
                                    </ng-template>
                                </ng-select>
                                <div *ngIf="partidoForm.get('candidatura')?.touched" class="error-message">
                                    <div *ngIf="
                      partidoForm.get('candidatura')?.hasError('required')
                    ">
                                        El tipo de agrupacion es requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Campo de Nombre del partido -->
                    <div class="form-group">
                        <label for="nombreCandidatura">Nombre de la agrupación*:</label>
                        <input type="text" class="form-control" id="logo" formControlName="nombreOrganizacion">
                        <div *ngIf="partidoForm.get('nombreOrganizacion')?.touched" class="error-message">
                            <div *ngIf="
              partidoForm.get('nombreOrganizacion')?.hasError('required')
            ">
                                El nombre de la agrupacion es requerido
                            </div>
                            <div *ngIf="
              partidoForm.get('nombreOrganizacion')?.hasError('minlength')
            ">
                                El nombre de la agrupacion debe tener al menos 3 caracteres
                            </div>
                            <div *ngIf="partidoForm.get('nombreOrganizacion')?.hasError('pattern')">
                                El nombre de la agrupacion no puede tener números  ni signos
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="acronimo">Acrónimo de la agrupación*:</label>
                        <input type="text" class="form-control" id="acronimo" formControlName="acronimo">
                        <div *ngIf="partidoForm.get('acronimo')?.touched" class="error-message">
                            <div *ngIf="
              partidoForm.get('acronimo')?.hasError('required')
            ">
                                El acronimo es requerido
                            </div>
                            <div *ngIf="
              partidoForm.get('acronimo')?.hasError('minlength')
            ">
                                El acronimmo debe tener al menos 3 caracteres
                            </div>
                            <div *ngIf="partidoForm.get('acronimo')?.hasError('pattern')">
                                El acronimo no puede tener números ni signos
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Campo de Subir Imagen -->
                    <div class="row">
                        <div class="col-lg-12 d-flex align-items-center justify-content-center">
                            <div class="mb-1 text-center">
                                <label class="form-label">Emblema de la agrupación*:</label>
                                <!-- Campo de Subir Imagen -->
                                <div class="form-group">
                                    <label for="imagen" class="img-thumbnail" id="imagen-label" *ngIf="!previewImage">
                              <img src="assets/images/placeholderimage.png" alt="Subir imagen" style="width: 200px;">
                              <input type="file" class="form-control-file custom-file-input" id="imagen" formControlName="logo" (change)="onImageChange($event);mostrar();"  style="display: none;" accept="image/*" [formControl]="imagenControl">
                            </label>
                                </div>
                                <br>
                                <label>Haz clic aquí para seleccionar una imagen desde tu dispositivo</label>
                                <!-- Vista previa de la imagen -->
                                <div *ngIf="partidoForm.get('imagenBase64')?.value && showImage; else previewSection" class="mt-3">
                                    <img class="img" [src]="'data:image/jpeg;base64,' + partidoForm.get('imagenBase64')?.value" width="100%" height="100%" alt="Vista previa de la imagen" />
                                    <button type="button" class="btn btn-danger mt-2" (click)="eliminarImagen($event)">Eliminar Imagen</button>
                                  </div>
                                  
                                  <ng-template #previewSection>
                                    <div *ngIf="previewImage && showImage" class="mt-3">
                                      <label>Imagen seleccionada:</label>
                                      <br><br><br>
                                      <img [src]="previewImage" class="img-thumbnail" alt="Vista previa de la imagen" style="width: 200px;">
                                      <br><br>
                                    </div>
                                  </ng-template>
                                  
                                
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="estadoActivo" class="form-label">Estatus*:</label>
                            <label class="form-check form-switch checkbox-verde">
                <input
                  class="form-check-input"
                  type="checkbox"
                  formControlName="estatus"
                />
                <span
                  class="form-check-label"
                  [ngClass]="{
                    'text-success': partidoForm.get('estatus')?.value === true,
                    'text-danger': partidoForm.get('estatus')?.value === false
                  }"
                >
                  {{
                    partidoForm.get("estatus")?.value ? "Activo" : "Inactivo"
                  }}
                </span>
                <div *ngIf="partidoForm.get('estatus')?.touched" class="error-message">
                    <div *ngIf="
      partidoForm.get('nombres')?.hasError('estatus')
    ">
                        El estatus es requerido
                    </div>
                </div>
              </label>
                        </div>
                    </div>
                </div>
                <p class="form-label" style="
        margin-left: 20px;
        color: red;
        font-weight: bold;
    ">Todos los campos marcados con * son requeridos</p>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!partidoForm.valid">
                        {{ isModalAdd ? "Agregar" : "Actualizar" }}
                     </button>
                     
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal-highlight" id="modal-imagen-ampliada" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
            </div>
            <div class="modal-body">
                <img *ngIf="imagenAmpliada" [src]="imagenAmpliada" alt="Imagen Ampliada" class="w-100" />
            </div>
        </div>
    </div>
  </div>
  