<ngx-spinner
  bdColor="rgba(0,0,0,0.41)"
  size="large"
  color="#ffffff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Guardando...</p>
</ngx-spinner>

<div class="row row-cards">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Asignaciones</h3>
      </div>
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modal-asignacion"
            (click)="handleChangeAdd()"
          >
            <i class="ti ti-plus me-1"></i>Agregar asignación
          </button>
        </div>
      </div>

      <ng-container [ngSwitch]="isLoading">
        <div class="progress" *ngSwitchCase="2">
          <div class="progress-bar progress-bar-indeterminate bg-green"></div>
        </div>

        <div *ngSwitchCase="3">
          <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Nombre Cuestionario</th>
                  <th>Candidato</th>
                  <th>Fecha Asignación</th>
                  <th class="text-center" class="w-1">Acciones</th>
                </tr>
              </thead>
              <tbody class="table-tbody">
                <tr
                  *ngFor="
                    let asignacion of asignacionesFilter
                      | paginate : configPaginator;
                    let pointIndex = index
                  "
                >
                  <td class="text-center">
                    {{
                      configPaginator.itemsPerPage *
                        (configPaginator.currentPage - 1) +
                        pointIndex +
                        1
                    }}
                  </td>
                  <td>
                    {{ asignacion.formulario.nombreFormulario }}
                  </td>
                  <td>{{ asignacion.candidato.nombreCompleto }}</td>
                  <td>{{ asignacion.strFechaHoraAsignacion }}</td>
                  <td>
                    <div class="d-flex justify-content-between">
                      <button
                        class="btn btn-warning btn-icon btn-sm"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-usuario"
                        (click)="setDataModalUpdate(asignacion)"
                      >
                        <i class="ti ti-edit"></i>
                      </button>
                      <button
                        class="btn btn-danger btn-icon btn-sm"
                        (click)="deleteItem(asignacion.id)"
                      >
                        <i class="ti ti-eraser"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <app-no-results *ngSwitchCase="4"></app-no-results>
      </ng-container>
      <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted">
          Total de registros: <b>{{ asignacionesFilter.length }}</b>
        </p>
        <div class="m-0 ms-auto">
          <pagination-controls
            (pageChange)="onPageChange($event)"
            previousLabel=""
            nextLabel=""
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL AGREGAR ASIGNACIÓN -->
<div
  class="modal modal-blur fade"
  id="modal-asignacion"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Asignación de Formulario</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closebutton
        ></button>
      </div>

      <form [formGroup]="asignacionForm" (ngSubmit)="submitUsuario()">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="mb-3">
                <label class="form-label">Formulario:</label>
                <ng-select
                  placeholder="Elegir"
                  [items]="formularios"
                  bindLabel="nombreFormulario"
                  bindValue="id"
                  [searchable]="false"
                  [clearable]="false"
                  formControlName="formularioId"
                >
                  <ng-template ng-option-tmp let-item="item">
                    {{ item.nombreFormulario }}
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="mb-3">
                <label class="form-label">Candidatos:</label>
                <ng-select
                  #selectCandidato
                  [items]="candidatos"
                  [searchable]="false"
                  [multiple]="true"
                  [closeOnSelect]="false"
                  [hideSelected]="true"
                  bindValue="id"
                  bindLabel="nombreCompleto"
                  placeholder="Seleccionar"
                  formControlName="candidatosIds"
                >
                  <ng-template ng-header-tmp>
                    <input
                      class="form-control"
                      type="text"
                      (input)="
                        selectCandidato.filter($any($event.target).value)
                      "
                    />
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.nombreCompleto }}
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!asignacionForm.valid"
          >
            Agregar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- FIN MODAL -->
