.margen{
    padding-left: 60px;
    padding-right: 60px
}
.spacio{
    padding-bottom: 8px;
}
.spacios{
    padding-bottom: 10px;
}
.button{
  margin: 5px;
}
.button2{
  margin-right: 40px;
}
.label1{ 
    padding-left: 60px;
}

.rich-text-editor {
    width: 100%;
    max-width: 800px;
    height: 150px;
    padding: 10px;
    height: 150px;

  }
  .rich-text-editor button {
    background-color: #007BFF;
    color: #fff;
    font-size: 8px;
    padding: 8px 8px; 
    border: none; 
    cursor: pointer; 
  }
  
  .rich-text-editor button:hover {
    background-color: #0056b3; 
    
  }
  .estilo{
    height: 300px;
    width: 100%;
    border: 1px solid #ccc;
  }
  .fin{
    margin-top: 180px;
    padding-left: 60px;
  }

.enviar{
  display: flex;
  justify-content: center; 
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  border-right-width: 1px;
  margin-right: 30px;
}
.scrollable-container {
  height: 300px;
  overflow-y: auto; 
  border: 1px solid #ccc; 
}
.margin{
  margin-left: 10px;
}
.filtro{
  margin-right: 35px;
  margin-left: 35px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.pagination-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 5px;
}

.pagination-and-items-per-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.items-per-page select {
  font-size: 14px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
