<div class="container-xl">
  <div class="card">
    <div class="card-body">
      <div class="accordion" id="accordion-example">
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true">
              Distrito local
            </button>
          </h2>
          <div id="collapse-1" class="accordion-collapse collapse show" data-bs-parent="#accordion-example">
            <div class="accordion-body pt-0">
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-distrito-local">
                <i class="ti ti-plus me-1"></i>Agregar Distrito local
              </button>
              
              <!-- MODAL AGREGAR DISTRITO LOCAL -->
              <div class="modal modal-blur fade" id="modal-distrito-local" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Nuevo Distrito local</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- Inicio del formulario -->
                      <form>
                        <!-- <div class="mb-3">
                          <label for="id" class="form-label">ID:</label>
                          <input type="number" id="id" class="form-control" [(ngModel)]="distritoLocal.id" name="id" required min="0">
                        </div> -->
                        <div class="row mb-3">
                          <div class="col-md-6">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" id="nombre" class="form-control" [(ngModel)]="distritoLocal.nombre" name="nombre" required>
                          </div>
                          <div class="col-md-6">
                            <label for="acronimo" class="form-label">Acrónimo:</label>
                            <input type="text" id="acronimo" class="form-control" [(ngModel)]="distritoLocal.acronimo" name="acronimo" required>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="row">
                            <div class="col-md-6">
                              <label for="activo" class="form-label">Activo:</label>
                              <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input" id="activo" [(ngModel)]="distritoLocal.activo" name="activo">
                                <label class="form-check-label" for="activo">Activo</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label for="extPet" class="form-label">Ext-pet:</label>
                              <input type="text" id="extPet" class="form-control" [(ngModel)]="distritoLocal.extPet" name="extPet">
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="estado" class="form-label">Estados:</label>
                          <select id="estado" class="form-select" [(ngModel)]="distritoLocal.estado" name="estado" required>
                            <option value="Aguascalientes">Aguascalientes</option>
                            <option value="Baja California">Baja California</option>
                            <option value="Baja California Sur">Baja California Sur</option>
                            <option value="Campeche">Campeche</option>
                            <option value="Chiapas">Chiapas</option>
                            <option value="Chihuahua">Chihuahua</option>
                            <option value="Ciudad de México">Ciudad de México</option>
                            <option value="Coahuila">Coahuila</option>
                            <option value="Colima">Colima</option>
                            <option value="Durango">Durango</option>
                            <option value="Estado de México">Estado de México</option>
                            <option value="Guanajuato">Guanajuato</option>
                            <option value="Guerrero">Guerrero</option>
                            <option value="Hidalgo">Hidalgo</option>
                            <option value="Jalisco">Jalisco</option>
                            <option value="Michoacán">Michoacán</option>
                            <option value="Morelos">Morelos</option>
                            <option value="Nayarit">Nayarit</option>
                            <option value="Nuevo León">Nuevo León</option>
                            <option value="Oaxaca">Oaxaca</option>
                            <option value="Puebla">Puebla</option>
                            <option value="Querétaro">Querétaro</option>
                            <option value="Quintana Roo">Quintana Roo</option>
                            <option value="San Luis Potosí">San Luis Potosí</option>
                            <option value="Sinaloa">Sinaloa</option>
                            <option value="Sonora">Sonora</option>
                            <option value="Tabasco">Tabasco</option>
                            <option value="Tamaulipas">Tamaulipas</option>
                            <option value="Tlaxcala">Tlaxcala</option>
                            <option value="Veracruz">Veracruz</option>
                            <option value="Yucatán">Yucatán</option>
                            <option value="Zacatecas">Zacatecas</option>
                          </select>
                        </div>
                      </form>
                      <!-- Fin del formulario -->
                      <br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-link link-secondary" data-bs-dismiss="modal">Limpiar</button>
                      <button type="button" class="btn btn-primary">Crear nuevo distrito local</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FIN MODAL -->
              <div [ngSwitch]="variableDeControl">
                <!-- Inicio del bloque ngSwitch -->
                <div class="progress" *ngSwitchCase="2">
                  <div class="progress-bar progress-bar-indeterminate bg-green"></div>
                </div>
              </div>
<!-- Lista de Distritos Locales -->
<div class="table-responsive" *ngIf="distritosLocales.length > 0">
  <br>
              <div class="input-icon">
                            <input type="text" value="" class="form-control form-control-rounded" placeholder="Buscar" />
                            <span class="input-icon-addon">
                            <i class="ti ti-search"></i>
                          </span>
                        </div>  
                        <br>
  <table class="table card-table table-vcenter text-nowrap datatable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Acrónimo</th>
        <th class="text-center" style="width: 7%">Acciones</th>
      </tr>
    </thead>
    <tbody class="table-tbody">
      <tr *ngFor="let distritoLocal of distritosLocales; let i = index">
        <td>{{ distritoLocal.nombre }}</td>
        <td>{{ distritoLocal.acronimo }}</td>
        <td>
          <button class="btn btn-warning btn-icon btn-sm" (click)="editarDistritoLocal(i)">
            <i class="ti ti-edit"></i>
          </button>
          <button class="btn btn-danger btn-icon btn-sm" (click)="eliminarDistritoLocal(i)">
            <i class="ti ti-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="distritosLocales.length === 0">
  <p>No hay Distritos Locales agregados.</p>
</div>
  
          
            </div>
          </div>
        </div>

        <!-- El segundo formulario también necesita la estructura de dos columnas -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false">
              Ayuntamiento
            </button>
          </h2>
          <div id="collapse-2" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
            <div class="accordion-body pt-0">
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-ayuntamiento">
                <i class="ti ti-plus me-1"></i>Agregar Ayuntamiento
              </button>
              <!-- MODAL AGREGAR AYUNTAMIENTO -->
              <div class="modal modal-blur fade" id="modal-ayuntamiento" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Nuevo Ayuntamiento</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- Inicio del formulario -->
                      <form>
                        <!-- <div class="mb-3">
                          <label for="ayuntamientoId" class="form-label">ID:</label>
                          <input type="number" id="id" class="form-control" [(ngModel)]="distritoLocal.id" name="id" required min="0">
                        </div> -->
                        <div class="row mb-3">
                      <div class="col-md-6">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" id="nombre" class="form-control" [(ngModel)]="distritoLocal.nombre" name="nombre" required>
                      </div>
                      <div class="col-md-6">
                        <label for="acronimo" class="form-label">Acrónimo:</label>
                        <input type="text" id="acronimo" class="form-control" [(ngModel)]="distritoLocal.acronimo" name="acronimo" required>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="activo" class="form-label">Activo:</label>
                          <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="activo" [(ngModel)]="distritoLocal.activo" name="activo">
                            <label class="form-check-label" for="activo">Activo</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="extPet" class="form-label">Ext-pet:</label>
                          <input type="text" id="extPet" class="form-control" [(ngModel)]="distritoLocal.extPet" name="extPet">
                        </div>
                      </div>
                    </div>
                        <div class="mb-3">
                          <label for="ayuntamientoDistritoLocal" class="form-label">Distrito Local:</label>
                          <select id="ayuntamientoDistritoLocal" class="form-select" [(ngModel)]="ayuntamiento.distritoLocal" name="distritoLocal" required>
                            <!-- Agrega opciones para seleccionar un Distrito Local -->
                            <option value="Distrito 1 | Pachuca de Soto">Distrito 1 | Pachuca de Soto</option>
                            <option value="Distrito 2 | Tulancingo de Bravo">Distrito 2 | Tulancingo de Bravo</option>
                            <!-- Agrega más opciones según tus datos -->
                          </select>
                        </div>     
                      </form>
                      <!-- Fin del formulario -->
                      <br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-link link-secondary" data-bs-dismiss="modal">Limpiar</button>
                      <button type="button" class="btn btn-primary">Crear nuevo ayuntamiento</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FIN MODAL -->
              <div [ngSwitch]="variableDeControl">
                <!-- Inicio del bloque ngSwitch -->
                <div class="progress" *ngSwitchCase="2">
                  <div class="progress-bar progress-bar-indeterminate bg-green"></div>
                </div>
              </div>
              <br>
              <div class="input-icon">
                            <input type="text" value="" class="form-control form-control-rounded" placeholder="Buscar" />
                            <span class="input-icon-addon">
                            <i class="ti ti-search"></i>
                          </span>
                        </div>
                        <br>
                        <div>
              <div class="table-responsive" *ngIf="ayuntamientos.length > 0">
               
                <table class="table card-table table-vcenter text-nowrap datatable">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Acrónimo</th>
                      <th class="text-center" style="width: 7%">Acciones</th>
                    </tr>
                  </thead>
                  <tbody class="table-tbody">
                    <tr *ngFor="let ayuntamiento of ayuntamientos; let i = index">
                      <td>{{ ayuntamiento.nombre }}</td>
                      <td>{{ ayuntamiento.acronimo }}</td>
                      <td>
                        <button class="btn btn-warning btn-icon btn-sm" (click)="editarAyuntamiento(i)">
                          <i class="ti ti-edit"></i>
                        </button>
                        <button class="btn btn-danger btn-icon btn-sm" (click)="eliminarAyuntamiento(i)">
                          <i class="ti ti-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="ayuntamientos.length === 0">
                <p>No hay Ayuntamientos agregados.</p>
              </div>
            </div>
          </div>
        </div>




<!-- Nuevo bloque para Comunidad -->
<div class="accordion-item">
  <h2 class="accordion-header" id="heading-3">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false">
      Comunidad
    </button>
  </h2>
  <div id="collapse-3" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
    <div class="accordion-body pt-0">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-comunidad">
        <i class="ti ti-plus me-1"></i>Agregar Comunidad
      </button>
      <!-- MODAL AGREGAR COMUNIDAD -->
      <div class="modal modal-blur fade" id="modal-comunidad" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Nueva Comunidad</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Inicio del formulario -->
              <form>
                <!-- <div class="mb-3">
                  <label for="comunidadId" class="form-label">ID:</label>
                  <input type="number" id="comunidadId" class="form-control" [(ngModel)]="comunidad.id" name="id" required>
                </div> -->
                <div class="mb-3">
                  <label for="comunidadNombre" class="form-label">Nombre:</label>
                  <input type="text" id="comunidadNombre" class="form-control" [(ngModel)]="comunidad.nombre" name="nombre" required>
                </div>
                <div class="mb-3">
                  <label for="comunidadAcronimo" class="form-label">Acrónimo:</label>
                  <input type="text" id="comunidadAcronimo" class="form-control" [(ngModel)]="comunidad.acronimo" name="acronimo" required>
                </div>
                <div class="mb-3">
                
                  <div class="row">
                    <div class="col-md-6">
                      <label for="comunidadActivo" class="form-label">Activo:</label>
                      <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" id="comunidadActivo" [(ngModel)]="comunidad.activo" name="activo">
                        <label class="form-check-label" for="comunidadActivo">Activo</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="comunidadExtPet" class="form-label">Ext-pet:</label>
                      <input type="text" id="comunidadExtPet" class="form-control" [(ngModel)]="comunidad.extPet" name="extPet">
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="comunidadAyuntamiento" class="form-label">Ayuntamiento:</label>
                  <select id="comunidadAyuntamiento" class="form-select" [(ngModel)]="comunidad.ayuntamiento" name="ayuntamiento" required>
                    <!-- Agrega opciones para seleccionar un Ayuntamiento -->
                    <option value="Ayuntamiento de Pachuca de Soto">Ayuntamiento de Pachuca de Soto</option>
                    <option value="Ayuntamiento de Tulancingo de Bravo">Ayuntamiento de Tulancingo de Bravo</option>
                    <!-- Agrega más opciones según tus datos -->
                  </select>
                </div>
              </form>
              <!-- Fin del formulario -->
              <br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link link-secondary" data-bs-dismiss="modal">Limpiar</button>
              <button type="button" class="btn btn-primary">Crear nueva comunidad</button>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN MODAL -->
      <div [ngSwitch]="variableDeControl">
        <!-- Inicio del bloque ngSwitch -->
        <div class="progress" *ngSwitchCase="2">
          <div class="progress-bar progress-bar-indeterminate bg-green"></div>
        </div>
      </div>
      <!-- Lista de Comunidades -->
<div class="table-responsive" *ngIf="comunidades.length > 0">
  <br>
              <div class="input-icon">
                            <input type="text" value="" class="form-control form-control-rounded" placeholder="Buscar" />
                            <span class="input-icon-addon">
                            <i class="ti ti-search"></i>
                          </span>
                        </div>
                        <br>
  <table class="table card-table table-vcenter text-nowrap datatable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Acrónimo</th>
        <th class="text-center" style="width: 7%">Acciones</th>
      </tr>
    </thead>
    <tbody class="table-tbody">
      <tr *ngFor="let comunidad of comunidades; let i = index">
        <td>{{ comunidad.nombre }}</td>
        <td>{{ comunidad.acronimo }}</td>
        <td>
          <button class="btn btn-warning btn-icon btn-sm" (click)="editarComunidad(i)">
            <i class="ti ti-edit"></i>
          </button>
          <button class="btn btn-danger btn-icon btn-sm" (click)="eliminarComunidad(i)">
            <i class="ti ti-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="comunidades.length === 0">
  <p>No hay Comunidades agregadas.</p>
</div>
    </div>
  </div>
</div>



      </div>
    </div>
  </div>
</div>
