.card {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.dropzone {
    border: 2px dashed #007bff;
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.fallback input[type="file"] {
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dropzone.dragover {
    border-color: #5bc0de;
    background-color: #fff;
}

.custom-icon {
    font-size: 2rem;
    color: #007bff;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
    color: purple;
}

.card-header {
    align-items: center;
    justify-content: center;
}

.card-body .row.g-2 {
    justify-content: center;
}
