<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Personalización del Portal</h3>
            </div>
            <br><br>
            <div class="card">
                <br><br>
                <div class="col-12">
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Imágenes del sistema</h3>
                            </div>
                            <br><br>
                            

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title">LOGO INSTITUTO</h3>
                                            <div class="form-group">
                                                <label for="imagen1" class="img-thumbnail" id="imagen-label1" *ngIf="!previewImage1">
                                                    <br>
                                                    <img src="assets/images/placeholderimage.png" alt="Subir imagen" style="width: 200px;">
                                                    <input type="file" class="form-control-file custom-file-input" id="imagen1" (change)="onImageChange1($event)" style="display: none;">
                                                </label>
                                                 <!-- Vista previa de la imagen -->
                                                 <div *ngIf="previewImage1" class="mt-3">
                                                    <img [src]="previewImage1" class="img-thumbnail" alt="Vista previa de la imagen" style="width: 200px;">
                                                    <br>
                                                    <label>Imagen seleccionada:</label>
                                                    <br><br>
                                                    <button class="btn btn-danger mt-2" *ngIf="previewImage1" (click)="eliminarImagen1()">Eliminar Imagen</button>
                                                </div>
                                            
                                            </div>
                                            <br>
                                            <!-- Texto para seleccionar imagen -->
                                            <label class="form-label" *ngIf="!previewImage1">Haz clic aquí para seleccionar una imagen desde tu dispositivo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title">LOGO APLICACIÓN</h3>
                                            <div class="form-group">
                                                <label for="imagen2" class="img-thumbnail" id="imagen-label2" *ngIf="!previewImage2">
                                                    <br>
                                                    <img src="assets/images/placeholderimage.png" alt="Subir imagen" style="width: 200px;">
                                                    <input type="file" class="form-control-file custom-file-input" id="imagen2" (change)="onImageChange2($event)" style="display: none;">
                                                </label>
                                            </div>
                                            <br>
                                            <!-- Texto para seleccionar imagen -->
                                            <label class="form-label" *ngIf="!previewImage2">Haz clic aquí para seleccionar una imagen desde tu dispositivo</label>
                                                                                <!-- Vista previa de la imagen -->
                                                <div *ngIf="previewImage2" class="mt-3">
                                                    <img [src]="previewImage2" class="img-thumbnail" alt="Vista previa de la imagen" style="width: 200px;">
                                                    <br>
                                                    <label>Imagen seleccionada:</label>
                                                    <br><br>
                                                    <button class="btn btn-danger mt-2" *ngIf="previewImage2" (click)="eliminarImagen2()">Eliminar Imagen</button>
                                                </div>
                                                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title">BIENVENIDA</h3>
                                            <div class="form-group">
                                                <label for="imagen3" class="img-thumbnail" id="imagen-label3" *ngIf="!previewImage3">
                                                    <br>
                                                    <img src="assets/images/placeholderimage.png" alt="Subir imagen" style="width: 200px;">
                                                    <input type="file" class="form-control-file custom-file-input" id="imagen3" (change)="onImageChange3($event)" style="display: none;">
                                                </label>
                                            </div>
                                            <br>
                                            <!-- Texto para seleccionar imagen -->
                                               <label class="form-label" *ngIf="!previewImage3">Haz clic aquí para seleccionar una imagen desde tu dispositivo</label>
                                             <!-- Vista previa de la imagen -->
                                             <div *ngIf="previewImage3" class="mt-3">
                                                <img [src]="previewImage3" class="img-thumbnail" alt="Vista previa de la imagen" style="width: 200px;">
                                                <br>
                                                <label>Imagen seleccionada:</label>
                                                <br><br>
                                                <button class="btn btn-danger mt-2" *ngIf="previewImage3" (click)="eliminarImagen3()">Eliminar Imagen</button>
                                            </div>
                                        
                                            </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            </div>
                        </div>
                    </div>

                <br><br><br>
                <!--SECCION REDES SOCIALES-->
                <br><br>
                <div class="col-12">
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Enlaces e información</h3>
                            </div>
                            <br><br>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Número de teléfono</h4>
                                                <div class="input-group mb-2">
                                                    <span class="input-group-text">
                                      <i class="ti ti-phone-call"></i>
                                  </span>
                                                    <input type="text" class="form-control" placeholder="+52 000-000-0000" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Dirección</h4>
                                                <div class="input-group mb-2">
                                                    <span class="input-group-text">
                                      <i class="ti ti-map-pin"></i>
                              </span>
                                                    <input type="text" class="form-control" placeholder="Calle ..." autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">URL Facebook</h4>
                                                <div class="input-group mb-2">
                                                    <span class="input-group-text">
                                                      <i class="ti ti-brand-facebook"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="https://facebook.com" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br><br>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">URL Instagram</h4>
                                                <div class="input-group mb-2">
                                                    <span class="input-group-text">
                                                          <i class="ti ti-brand-instagram"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="https://instagram.com" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">URL Twitter</h4>
                                                <div class="input-group mb-2">
                                                    <span class="input-group-text">
                                                      <i class="ti ti-brand-twitter"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="https://twitter.com" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">URL YouTube</h4>
                                                <div class="input-group mb-2">
                                                    <span class="input-group-text">
                                      <i class="ti ti-brand-youtube"></i>
                            </span>
                                                    <input type="text" class="form-control" placeholder="https://youtube.com" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <!--COLORES-->
                <br><br>
                <div class="col-12">
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Colores del sistema</h3>
                            </div>
                            <br><br>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Color primario</h4>
                                                <div class="row g-2">
                                                    <h4>Selecciona tu color principal</h4>
                                                    <div class="col-auto">
                                                        <input type="color" class="form-control form-control-color" value="#206bc4" title="Choose your color">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Color secundario</h4>
                                                <div class="row g-2">
                                                    <h4>Selecciona tu color secundario</h4>
                                                    <div class="col-auto">
                                                        <input type="color" class="form-control form-control-color" value="#C52020" title="Choose your color">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-12 py-3">
                    <a class="btn btn-outline-success w-100" (click)="guardarConfiguracion()">
                        <i class="ti ti-paint" style="padding-right: 10px;"></i> Guardar configuración
                    </a>
                </div>
            </div>
            <br>
            <h5><i class="ti ti-mood-confuzed" style="padding-right: 5px;"></i>¿Tienes dudas? </h5>
            <h5><a href="/panel/faq">Visita nuestra sección de FAQ <i class="ti ti-location"></i></a></h5>
        </div>
    </div>
</div>
