<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Personalización del Portal</h3>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Imágenes del Portal</h3>
            </div>
            <br><br>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">LOGO INSTITUTO</h3>
                                <form class="dropzone" id="dropzone-default" action="./" autocomplete="off" novalidate>
                                    <div class="fallback">
                                        <input name="file" type="file" />
                                    </div>
                                    <p>Arrastra archivos o haz clic aquí para cargarlos.</p>
                                    <i class="ti ti-photo-plus custom-icon"></i>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">LOGO APLICACIÓN</h3>
                                <form class="dropzone" id="dropzone-default-2" action="./" autocomplete="off" novalidate>
                                    <div class="fallback">
                                        <input name="file" type="file" />
                                    </div>
                                    <p>Arrastra archivos o haz clic aquí para cargarlos.</p>
                                    <i class="ti ti-photo-plus custom-icon"></i>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">IMAGEN DE BIENVENIDA</h3>
                                <form class="dropzone" id="dropzone-default-2" action="./" autocomplete="off" novalidate>
                                    <div class="fallback">
                                        <input name="file" type="file" />
                                    </div>
                                    <p>Arrastra archivos o haz clic aquí para cargarlos.</p>
                                    <i class="ti ti-photo-plus custom-icon"></i>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <!--SECCION REDES SOCIALES-->
            <div class="card-header">
                <h3 class="card-title">Enlaces e información</h3>
            </div>
            <br><br>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Número de teléfono</h4>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                      <i class="ti ti-phone-call"></i>
                                  </span>
                                    <input type="text" class="form-control" placeholder="+52 000-000-0000" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Dirección</h4>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                      <i class="ti ti-map-pin"></i>
                              </span>
                                    <input type="text" class="form-control" placeholder="Calle ..." autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">URL Facebook</h4>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                      <i class="ti ti-brand-facebook"></i>
                              </span>
                                    <input type="text" class="form-control" placeholder="https://facebook.com" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">URL Instagram</h4>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                      <i class="ti ti-brand-instagram"></i>
                                </span>
                                    <input type="text" class="form-control" placeholder="https://instagram.com" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">URL Twitter</h4>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                      <i class="ti ti-brand-twitter"></i>
                            </span>
                                    <input type="text" class="form-control" placeholder="https://twitter.com" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">URL YouTube</h4>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                      <i class="ti ti-brand-youtube"></i>
                            </span>
                                    <input type="text" class="form-control" placeholder="https://youtube.com" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <!--COLORES-->
            <div class="card-header">
                <h3 class="card-title">Colores del sistema</h3>
            </div>
            <br><br>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Color primario</h4>
                                <div class="row g-2">
                                    <h4>Selecciona tu color principal</h4>
                                    <div class="col-auto">
                                        <input type="color" class="form-control form-control-color" value="#206bc4" title="Choose your color">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Color secundario</h4>
                                <div class="row g-2">
                                    <h4>Selecciona tu color secundario</h4>
                                    <div class="col-auto">
                                        <input type="color" class="form-control form-control-color" value="#C52020" title="Choose your color">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>
