<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Personalización del Portal</h3>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Imágenes del Portal<a href="/src/assets/documents/GUIA.pdf" target="_blank"><i class="ti ti-bookmark-question"></i></a></h3>
            </div>
            <br>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">LOGO INSTITUTO</h3>
                                <form class="dropzone" id="dropzone-default" action="./" autocomplete="off" novalidate>
                                    <div class="fallback">
                                        <input name="file" type="file" />
                                    </div>
                                    <p>Arrastra archivos o haz clic aquí para cargarlos.</p>
                                    <i class="ti ti-photo-plus custom-icon"></i>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">LOGO APLICACIÓN</h3>
                                <form class="dropzone" id="dropzone-default-2" action="./" autocomplete="off" novalidate>
                                    <div class="fallback">
                                        <input name="file" type="file" />
                                    </div>
                                    <p>Arrastra archivos o haz clic aquí para cargarlos.</p>
                                    <i class="ti ti-photo-plus custom-icon"></i>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">IMAGEN DE BIENVENIDA</h3>
                                <form class="dropzone" id="dropzone-default-2" action="./" autocomplete="off" novalidate>
                                    <div class="fallback">
                                        <input name="file" type="file" />
                                    </div>
                                    <p>Arrastra archivos o haz clic aquí para cargarlos.</p>
                                    <i class="ti ti-photo-plus custom-icon"></i>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <!--SECCION REDES SOCIALES-->
            <div class="card-header">
                <h3 class="card-title">Enlaces e información<a href="/src/assets/documents/GUIA.pdf" target="_blank"><i class="ti ti-bookmark-question"></i></a></h3>
            </div>
            <br><br>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Número de teléfono</h4>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                      <i class="ti ti-phone-call"></i>
                                  </span>
                                    <input type="text" class="form-control" placeholder="+52 000-000-0000" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Dirección</h4>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                      <i class="ti ti-map-pin"></i>
                              </span>
                                    <input type="text" class="form-control" placeholder="Calle ..." autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">URL Facebook</h4>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                      <i class="ti ti-brand-facebook"></i>
                              </span>
                                    <input type="text" class="form-control" placeholder="https://facebook.com" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">URL Instagram</h4>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                      <i class="ti ti-brand-instagram"></i>
                                </span>
                                    <input type="text" class="form-control" placeholder="https://instagram.com" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">URL Twitter</h4>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                      <i class="ti ti-brand-twitter"></i>
                            </span>
                                    <input type="text" class="form-control" placeholder="https://twitter.com" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">URL YouTube</h4>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                      <i class="ti ti-brand-youtube"></i>
                            </span>
                                    <input type="text" class="form-control" placeholder="https://youtube.com" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <!--COLORES-->
            <div class="card-header">
                <h3 class="card-title">Colores del sistema<a href="/src/assets/documents/GUIA.pdf" target="_blank"><i class="ti ti-bookmark-question"></i></a></h3>
            </div>
            <br><br>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Color principal</h4>
                                <div class="row g-2">
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                      <input name="color" type="radio" value="dark" class="form-colorinput-input" />
                                      <span class="form-colorinput-color bg-dark"></span>
                                    </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput form-colorinput-light">
                                      <input name="color" type="radio" value="white" class="form-colorinput-input"  checked/>
                                      <span class="form-colorinput-color bg-white"></span>
                                    </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                      <input name="color" type="radio" value="blue" class="form-colorinput-input" />
                                      <span class="form-colorinput-color bg-blue"></span>
                                    </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                      <input name="color" type="radio" value="azure" class="form-colorinput-input" />
                                      <span class="form-colorinput-color bg-azure"></span>
                                    </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                      <input name="color" type="radio" value="indigo" class="form-colorinput-input" />
                                      <span class="form-colorinput-color bg-indigo"></span>
                                    </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                      <input name="color" type="radio" value="purple" class="form-colorinput-input" />
                                      <span class="form-colorinput-color bg-purple"></span>
                                    </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                      <input name="color" type="radio" value="pink" class="form-colorinput-input" />
                                      <span class="form-colorinput-color bg-pink"></span>
                                    </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                      <input name="color" type="radio" value="red" class="form-colorinput-input" />
                                      <span class="form-colorinput-color bg-red"></span>
                                    </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                      <input name="color" type="radio" value="orange" class="form-colorinput-input" />
                                      <span class="form-colorinput-color bg-orange"></span>
                                    </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                      <input name="color" type="radio" value="yellow" class="form-colorinput-input" />
                                      <span class="form-colorinput-color bg-yellow"></span>
                                    </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                      <input name="color" type="radio" value="lime" class="form-colorinput-input" />
                                      <span class="form-colorinput-color bg-lime"></span>
                                    </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Color secundario</h4>
                                <div class="row g-2">
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                    <input name="color_secondary" type="radio" value="dark" class="form-colorinput-input" />
                                    <span class="form-colorinput-color bg-dark"></span>
                                  </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput form-colorinput-light">
                                    <input name="color_secondary" type="radio" value="white" class="form-colorinput-input"  checked/>
                                    <span class="form-colorinput-color bg-white"></span>
                                  </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                    <input name="color_secondary" type="radio" value="blue" class="form-colorinput-input" />
                                    <span class="form-colorinput-color bg-blue"></span>
                                  </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                    <input name="color_secondary" type="radio" value="azure" class="form-colorinput-input" />
                                    <span class="form-colorinput-color bg-azure"></span>
                                  </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                    <input name="color_secondary" type="radio" value="indigo" class="form-colorinput-input" />
                                    <span class="form-colorinput-color bg-indigo"></span>
                                  </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                    <input name="color_secondary" type="radio" value="purple" class="form-colorinput-input" />
                                    <span class="form-colorinput-color bg-purple"></span>
                                  </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                    <input name="color_secondary" type="radio" value="pink" class="form-colorinput-input" />
                                    <span class="form-colorinput-color bg-pink"></span>
                                  </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                    <input name="color_secondary" type="radio" value="red" class="form-colorinput-input" />
                                    <span class="form-colorinput-color bg-red"></span>
                                  </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                    <input name="color_secondary" type="radio" value="orange" class="form-colorinput-input" />
                                    <span class="form-colorinput-color bg-orange"></span>
                                  </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                    <input name="color_secondary" type="radio" value="yellow" class="form-colorinput-input" />
                                    <span class="form-colorinput-color bg-yellow"></span>
                                  </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-colorinput">
                                    <input name="color_secondary" type="radio" value="lime" class="form-colorinput-input" />
                                    <span class="form-colorinput-color bg-lime"></span>
                                  </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
