<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Usuarios</h3>
            </div>
            <div class="card-body border-bottom py-3">
                <div class="d-flex">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-partido-politico">
                    <i class="ti ti-plus me-1"></i>Agregar Candidatura
                  </button>
                    <div class="ms-auto text-muted">
                        <div class="input-icon">
                            <input #busquedaInput type="text" [(ngModel)]="filtro" class="form-control form-control-rounded" placeholder="Buscar" />
                            <span class="input-icon-addon">
                            <i class="ti ti-search"></i>
                          </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>Tipo de candidatura</th>
                            <th>Partido (s)</th>
                            <th class="text-center" style="width: 7%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-tbody">
                        <tr *ngFor="let partido of filtrarResultados() | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                            <td>
                                <img [src]="partido.foto" alt="Foto del partido" width="100">
                            </td>
                            <td>{{ partido.nombre }}</td>
                            <td>Partido Político</td>
                            <td>{{ partido.nombre }}</td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-warning btn-icon btn-sm">
                          <i
                            class="ti ti-edit"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-edicion-partido-politico"
                          ></i>
                        </button>
                                    <button class="btn btn-danger btn-icon btn-sm">
                          <i class="ti ti-eraser"></i>
                        </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination-and-items-per-page" style="margin-bottom: 0px;">
                <div class="items-per-page">
                    <label for="itemsPerPage">Elementos por página:</label>
                    <select id="itemsPerPage" [(ngModel)]="itemsPerPage" style="margin-left: 5px;">
                  <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
                </select>
                </div>

                <div class="pagination-container">
                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-partido-politico" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">AGREGAR CANDIDATURA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="partidoForm" (ngSubmit)="guardarPartido()">
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="col-lg-6">
                        <div class="mb-1">
                            <div class="form-group">
                                <label for="candidatura">Tipo de candidatura *</label>
                                <select class="form-select" formControlName="candidatura" (change)="toggleMostrarCampoPartidos()">
                                <option value="">Selecciona una opción...</option>
                                <option value="Partido">Partido político</option>
                                <option value="Candidatura común">Candidatura común</option>
                                <option value="Coalición">Coalición</option>
                                <option value="Candidatura independiente">Candidatura independiente</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <!-- Campo de Nombre del partido -->
                    <div class="form-group" *ngIf="partidoForm.get('candidatura')?.value === 'Partido'">
                        <br><br>
                        <label for="nombrePartido">Nombre del partido:</label>
                        <input type="text" class="form-control" id="nombrePartido" formControlName="nombrePartido">
                    </div>

                    <!-- Campo de Nombre de la Candidatura Común -->
                    <div class="form-group" *ngIf="partidoForm.get('candidatura')?.value === 'Candidatura común'">
                        <br><br>
                        <label for="nombreCandidatura">Nombre de la candidatura:</label>
                        <input type="text" class="form-control" id="nombreCandidatura" formControlName="nombreCandidatura">
                    </div>

                    <!-- Campo de Nombre de la Coalición -->
                    <div class="form-group" *ngIf="partidoForm.get('candidatura')?.value === 'Coalición'">
                        <br><br>
                        <label for="nombreCoalicion">Nombre de la coalición:</label>
                        <input type="text" class="form-control" id="nombreCoalicion" formControlName="nombreCoalicion">
                    </div>

                    <!-- Campo de Nombre de la Candidatura Independiente -->
                    <div class="form-group" *ngIf="partidoForm.get('candidatura')?.value === 'Candidatura independiente'">
                        <br><br>
                        <label for="nombreCanInd">Nombre de la candidatura:</label>
                        <input type="text" class="form-control" id="nombreCanInd" formControlName="nombreCanInd">
                    </div>

                    <br><br>
                    <!-- Campo de Partidos que Componen la Coalición -->
                    <div class="form-group" *ngIf="partidoForm.get('candidatura')?.value === 'Coalición'">
                        <label for="partidosCoalicion">Partidos que Componen la Coalición:</label>
                        <!-- Utiliza formControlName para vincular el elemento de formulario -->
                        <ng-select [items]="partidos" [multiple]="true" bindLabel="nombre" bindValue="id" formControlName="selectedPartidos" name="selectedPartidos">
                            <!-- Personaliza las plantillas según tus necesidades -->
                            <ng-template ng-option-tmp let-item="item">
                                {{ item.nombre }}
                            </ng-template>
                        </ng-select>
                        <br><br>
                    </div>




                    <!-- Campo de Subir Imagen -->
                    <div class="form-group">
                        <label for="imagen">Subir Imagen:</label>
                        <br><br>
                        <input type="file" class="form-control-file" id="imagen" (change)="onImageChange($event)">
                    </div>

                    <!-- Vista previa de la imagen -->
                    <div *ngIf="previewImage" class="mt-3">
                        <label>Imagen seleccionada:</label>
                        <img [src]="previewImage" class="img-thumbnail" alt="Vista previa de la imagen">
                    </div>
                </div>
            </form>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardarCoalicion()">Guardar</button>
            </div>

        </div>

    </div>
</div>




<!-- Modal Edicion Partido Politico-->
<div class="modal fade" id="modal-edicion-partido-politico" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Editar Partido Político</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Campo de Nombre del partido político -->
                <div class="form-group">
                    <label for="nombre">Nombre del partido político:</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <br>
                <!-- Campo de Subir Imagen -->
                <div class="form-group">
                    <label for="imagen">Subir Imagen del partido político:</label>
                    <br><br>
                    <input type="file" class="form-control-file" id="imagen" (change)="onImageChange($event)">
                </div>

                <!-- Vista previa de la imagen -->
                <div *ngIf="previewImage" class="mt-3">
                    <label>Imagen seleccionada:</label>
                    <img [src]="previewImage" class="img-thumbnail" alt="Vista previa de la imagen">
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardarPartido()">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Editar Coalición -->
