<div class="page-wrapper">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">CONFIGURACION PARTIDOS POLITICOS</h3>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="card">
                    <div class="card-body">
                        <div class="row g-2 align-items-center">
                            <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                                <a class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#modal-partido-politico">
                              AGREGAR PARTIDOS
                            </a>
                            </div>
                            <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                                <a class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#modal-coalicion">
                                AGREGAR COALICIONES
                              </a>
                            </div>
                            <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                                <a href="#" class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#modal-candidatura-independiente">
                                AGREGAR CANDIDATURAS INDEPENDIENTES
                              </a>
                            </div>
                        </div>

                        <!-- Tabla para mostrar la lista de partidos políticos -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">PARTIDOS POLITICOS</h3>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Foto</th>
                                        <th>Nombre</th>
                                        <th class="text-center" style="width: 7%">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Utiliza un *ngFor para iterar sobre la lista de partidos -->
                                    <tr *ngFor="let partido of partidos">
                                        <td>
                                            <img [src]="partido.foto" alt="Foto del partido" width="100">
                                        </td>
                                        <td>{{ partido.nombre }}</td>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <button class="btn btn-warning btn-icon btn-sm">
                                                        <i
                                                          class="ti ti-edit"
                                                          data-bs-toggle="modal"
                                                          data-bs-target="#modal-edicion-partido-politico"
                                                        ></i>
                                                      </button>
                                                <button class="btn btn-danger btn-icon btn-sm">
                                                        <i class="ti ti-eraser"></i>
                                                      </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br><br>
                        <!-- TABLA COALICION -->
                        <div class="card">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Foto</th>
                                        <th>Nombre Coalición</th>
                                        <th>Partidos Coalición</th>
                                        <th class="text-center" style="width: 7%">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Utiliza un *ngFor para iterar sobre la lista de partidos -->
                                    <tr *ngFor="let coaliciones of coaliciones">
                                        <td>
                                            <img [src]="coaliciones.fotoCoalicion" alt="Foto del partido" width="100">
                                        </td>
                                        <td>{{ coaliciones.nombreCoalicion }}</td>
                                        <td>{{ coaliciones.partidosCoalicion }}</td>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <button class="btn btn-warning btn-icon btn-sm">
                                    <i
                                      class="ti ti-edit"
                                      data-bs-toggle="modal"
                                      data-bs-target="#modal-edicion-coalicion"
                                    ></i>
                                  </button>
                                                <button class="btn btn-danger btn-icon btn-sm">
                                    <i class="ti ti-eraser"></i>
                                  </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br><br>
                        <!-- Tabla para mostrar la lista de candidaturas independientes -->
                        <div class="card">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Foto</th>
                                        <th>Nombre Coalición</th>
                                        <th>Partidos Coalición</th>
                                        <th class="text-center" style="width: 7%">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Utiliza un *ngFor para iterar sobre la lista de partidos -->
                                    <tr *ngFor="let coaliciones of coaliciones">
                                        <td>
                                            <img [src]="coaliciones.fotoCoalicion" alt="Foto del partido" width="100">
                                        </td>
                                        <td>{{ coaliciones.nombreCoalicion }}</td>
                                        <td>{{ coaliciones.partidosCoalicion }}</td>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <button class="btn btn-warning btn-icon btn-sm">
                                  <i
                                    class="ti ti-edit"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-edicion-coalicion"
                                  ></i>
                                </button>
                                                <button class="btn btn-danger btn-icon btn-sm">
                                  <i class="ti ti-eraser"></i>
                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modal-partido-politico" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Agregar Partido Político</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Formulario -->
                <form [formGroup]="partidoForm">
                    <!-- Campo de Nombre del partido político -->
                    <div class="form-group">
                        <label for="nombre">Nombre del partido político:</label>
                        <input type="text" class="form-control" id="nombre" formControlName="nombre">
                    </div>
                    <br>
                    <!-- Campo de Subir Imagen -->
                    <div class="form-group">
                        <label for="imagen">Subir Imagen del partido político:</label>
                        <br><br>
                        <input type="file" class="form-control-file" id="imagen" (change)="onImageChange($event)">
                    </div>

                    <!-- Vista previa de la imagen -->
                    <div *ngIf="previewImage" class="mt-3">
                        <label>Imagen seleccionada:</label>
                        <img [src]="previewImage" class="img-thumbnail" alt="Vista previa de la imagen">
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="resetForm()">Limpiar campos</button>
                <button type="button" class="btn btn-primary" (click)="guardarPartido()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Agregar Coalición -->
<div class="modal fade" id="modal-coalicion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Agregar Coalición</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Campo de Nombre de la Coalición -->
                <div class="form-group">
                    <label for="nombreCoalicion">Nombre de la Coalición:</label>
                    <input type="text" class="form-control" id="nombreCoalicion">
                </div>
                <br><br>
                <!-- Campo de Partidos que Componen la Coalición -->
                <div class="form-group">
                    <label for="partidosCoalicion">Partidos que Componen la Coalición:</label>
                    <ng-select [items]="partidos" [multiple]="true" bindLabel="nombre" bindValue="id" [(ngModel)]="selectedPartidos" name="selectedPartidos">
                        <!-- Personaliza las plantillas según tus necesidades -->
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.nombre}}
                        </ng-template>
                    </ng-select>
                </div>
                <br><br>
                <!-- Campo de Subir Imagen -->
                <div class="form-group">
                    <label for="imagen">Subir Imagen de la coalición:</label>
                    <br><br>
                    <input type="file" class="form-control-file" id="imagen" (change)="onImageChange($event)">
                </div>

                <!-- Vista previa de la imagen -->
                <div *ngIf="previewImage" class="mt-3">
                    <label>Imagen seleccionada:</label>
                    <img [src]="previewImage" class="img-thumbnail" alt="Vista previa de la imagen">
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardarCoalicion()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Candidatura Independiente -->
<div class="modal fade" id="modal-candidatura-independiente" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Agregar Candidatura Independiente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Campo de Nombre del partido político -->
                <div class="form-group">
                    <label for="nombre">Nombre de la candidatura:</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <br>
                <!-- Campo de Subir Imagen -->
                <div class="form-group">
                    <label for="imagen">Subir Imagen de la candidatura:</label>
                    <br><br>
                    <input type="file" class="form-control-file" id="imagen" (change)="onImageChange($event)">
                </div>

                <!-- Vista previa de la imagen -->
                <div *ngIf="previewImage" class="mt-3">
                    <label>Imagen seleccionada:</label>
                    <img [src]="previewImage" class="img-thumbnail" alt="Vista previa de la imagen">
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardarPartido()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edicion Partido Politico-->
<div class="modal fade" id="modal-edicion-partido-politico" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Editar Partido Político</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Campo de Nombre del partido político -->
                <div class="form-group">
                    <label for="nombre">Nombre del partido político:</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <br>
                <!-- Campo de Subir Imagen -->
                <div class="form-group">
                    <label for="imagen">Subir Imagen del partido político:</label>
                    <br><br>
                    <input type="file" class="form-control-file" id="imagen" (change)="onImageChange($event)">
                </div>

                <!-- Vista previa de la imagen -->
                <div *ngIf="previewImage" class="mt-3">
                    <label>Imagen seleccionada:</label>
                    <img [src]="previewImage" class="img-thumbnail" alt="Vista previa de la imagen">
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardarPartido()">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Editar Coalición -->
<div class="modal fade" id="modal-edicion-coalicion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Editar Coalición</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Campo de Nombre de la Coalición -->
                <div class="form-group">
                    <label for="nombreCoalicion">Nombre de la Coalición:</label>
                    <input type="text" class="form-control" id="nombreCoalicion">
                </div>
                <br><br>
                <!-- Campo de Partidos que Componen la Coalición -->
                <div class="form-group">
                    <label for="partidosCoalicion">Partidos que Componen la Coalición:</label>
                    <ng-select [items]="partidos" [multiple]="true" bindLabel="nombre" bindValue="id" [(ngModel)]="selectedPartidos" name="selectedPartidos">
                        <!-- Personaliza las plantillas según tus necesidades -->
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.nombre}}
                        </ng-template>
                    </ng-select>
                </div>
                <br><br>
                <!-- Campo de Subir Imagen -->
                <div class="form-group">
                    <label for="imagen">Subir Imagen de la coalición:</label>
                    <br><br>
                    <input type="file" class="form-control-file" id="imagen" (change)="onImageChange($event)">
                </div>

                <!-- Vista previa de la imagen -->
                <div *ngIf="previewImage" class="mt-3">
                    <label>Imagen seleccionada:</label>
                    <img [src]="previewImage" class="img-thumbnail" alt="Vista previa de la imagen">
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardarCoalicion()">Guardar</button>
            </div>

        </div>
    </div>
</div>