<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Preguntas frecuentes.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="card card-lg">
                <div class="card-body">
                    <div class="space-y-4">
                        <div>
                            <h2 class="mb-3"> Funcionamiento del sistema <i class="ti ti-settings"></i></h2>
                            <div id="faq-2" class="accordion" role="tablist" aria-multiselectable="true">
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button" data-bs-toggle="collapse" 
                                        data-bs-target="#faq-2-1"><h3>Home <i class="ti ti-home-2"></i></h3></button>
                                    </div>
                                    <div id="faq-2-1" class="accordion-collapse collapse show" role="tabpanel" data-bs-parent="#faq-2">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button collapsed" data-bs-toggle="collapse" 
                                        data-bs-target="#faq-2-2"><h3>Usuarios <i class="ti ti-users"></i></h3></button>
                                    </div>
                                    <div id="faq-2-2" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-2">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button collapsed" data-bs-toggle="collapse" 
                                        data-bs-target="#faq-2-3"><h3>Candidatos <i class="ti ti-users-group"></i></h3></button>
                                    </div>
                                    <div id="faq-2-3" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-2">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                         data-bs-target="#faq-2-4"><h3>Mis cuestionarios <i class="ti ti-message-question"></i></h3></button>
                                    </div>
                                    <div id="faq-2-4" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-2">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    </div>
<div>
                            <h2 class="mb-3">Personalización del portal <i class="ti ti-paint"></i></h2>
                            <div id="faq-1" class="accordion" role="tablist" aria-multiselectable="true">
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button" data-bs-toggle="collapse" 
                                        data-bs-target="#faq-1-1"><h3>Imágenes del sistema <i class="ti ti-slideshow"></i></h3></button>
                                    </div>
                                    <div id="faq-1-1" class="accordion-collapse collapse show" 
                                    role="tabpanel" data-bs-parent="#faq-1">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p class="answer"><b>Logo instituto:</b>
                                                Para lograr la mejor representación visual del logo institucional, es altamente aconsejable 
                                                emplear el formato PNG, el cual permite fondos transparentes. No obstante, el sistema también 
                                                admite archivos en formato JPG. En cuanto a las dimensiones, se requiere que las imágenes 
                                                destinadas a los logotipos tengan un tamaño de 300 px x 300 px. Si se utiliza una imagen 
                                                de mayor o menor tamaño, la integridad visual del logotipo se verá comprometida, afectando 
                                                su presentación óptima.
                                                </p>
                                                <p class="answer"><b>Logo aplicación:</b>
                                                Para lograr la mejor calidad en la imagen del logo de la aplicación, se sugiere optar por 
                                                el formato PNG, el cual permite un fondo transparente. No obstante, el sistema también es 
                                                compatible con archivos JPG. En cuanto a las dimensiones, es crucial que los logotipos tengan 
                                                un tamaño de 300px x 300px. Al alterar este tamaño y hacerlo más grande o más pequeño, 
                                                la imagen del logotipo podría distorsionarse, lo que afectaría negativamente su apariencia visual. ¡Mantengamos la calidad y la integridad de la imagen del logotipo! 
                                                </p>
                                                <p class="answer"><b>Imagen de bienvenida:</b>
                                                    Para lograr una imagen de bienvenida impactante que captará la atención desde el inicio, 
                                                    es altamente recomendable optar por el formato PNG o JPG. Es esencial que la dimensión de 
                                                    la imagen sea de 1270px * 300px; cualquier variación en el tamaño, ya sea mayor o menor, 
                                                    podría resultar en una imagen deformada y perjudicar significativamente la calidad de la 
                                                    presentación. ¡Vamos por una presentación impactante y exitosa! 
                                                </p> 
                                                <!-- <h3>Imagen de apoyo.</h3>
                                                <img [src]="'img/Imagen_de_apoyo1.jpeg'"> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-1-2">
                                            <h3>Enlaces e información <i class="ti ti-brand-stackshare"></i></h3></button>
                                    </div>
                                    <div id="faq-1-2" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-1">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p class="answer">Debes considerar que los enlaces y la información que siguen estarán a la vista de los usuarios 
                                                    del sistema, por lo tanto, es crucial que proporcionen datos a través de los cuales puedan ser 
                                                    contactados. Si incluyes un número de teléfono, asegúrate de incluir el código de tu país y de
                                                     que no exceda los 10 dígitos. En cuanto a la dirección, esta deberá corresponder a la ubicación
                                                      física de la sede de la organización. En relación a las demás URL para las redes sociales, 
                                                      asegúrate de agregar aquellas que pertenezcan a la organización. ¡Esperamos que esta 
                                                      información te sea de utilidad! 
                                                </p>
                                                <!-- <h3>Imagen de apoyo.</h3>
                                                <img [src]="'img/Imagen_de_apoyo1.jpeg'"> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-1-3">
                                            <h3>Colores del sistema <i class="ti ti-brush"></i></h3></button>
                                    </div>
                                    <div id="faq-1-3" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-1">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p class="answer">
                                                    A través del uso del color, encontrarás dos opciones distintas: el color primario y el color 
                                                    secundario. El color primario será el que prevalezca en todo el espacio, por lo tanto, asegúrate
                                                    de elegir aquel que mejor represente la identidad de tu organización. En cuanto al color 
                                                    secundario, este se empleará para resaltar los detalles menores en el sitio; por lo tanto, 
                                                    busca un color que complemente de manera armoniosa al color primario. Tienes la libertad de 
                                                    seleccionar colores en distintos formatos como RGB, HSL o HEX. Como consejo, opta por colores 
                                                    que se complementen entre sí y que destaquen, de esta manera lograrás una interfaz agradable y 
                                                    atrayente para tus usuarios. ¡Anímate a crear una experiencia visualmente cautivadora!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>
    
        <div>
                            <h2 class="mb-3">Errores frecuentes <i class="ti ti-alert-triangle"></i></h2>
                            <div id="faq-3" class="accordion" role="tablist" aria-multiselectable="true">
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq-3-1">Is there any free plan?</button>
                                    </div>
                                    <div id="faq-3-1" class="accordion-collapse collapse show" role="tabpanel" data-bs-parent="#faq-3">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3-2">What are the available payment options?</button>
                                    </div>
                                    <div id="faq-3-2" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-3">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" role="tab">
                                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3-3">Can I get a refund?</button>
                                    </div>
                                    <div id="faq-3-3" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-3">
                                        <div class="accordion-body pt-0">
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dignissimos dolorum ea est eveniet, excepturi illum in iste iure maiores nemo recusandae rerum saepe sed, sunt totam! Explicabo,
                                                    ipsa?
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
