<div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="card shadow-lg rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5 d-flex align-items-center justify-content-center">
                        <i class="ti ti-user-circle text-muted" style="font-size: 100px"></i>
                    </div>
                    <div class="col-lg-7">
                        <div class="ps-2">
                            <h1>BIENVENIDO</h1>
                            <ul style="list-style: none; padding-left: 0">
                                <li style="display: flex; align-items: center">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block" style="
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      margin-right: 10px;
                    ">
                    <i class="ti ti-user-pentagon"></i>
                  </span>
                                    <h3 class="nav-link-title" style="margin-bottom: 0">
                                        {{ dataObject?.nombreCompleto }}
                                    </h3>
                                </li>
                                <hr style="
                    margin-top: 0;
                    margin-bottom: 5px;
                    border: 0;
                    border-top: 1px solid #000;
                  " />
                                <li style="display: flex; align-items: center; margin-bottom: 5px">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block" style="
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      margin-right: 10px;
                    ">
                    <i class="ti ti-mail"></i>
                  </span>
                                    <h4 class="nav-link-title" style="margin-bottom: 0">
                                        {{ dataObject?.email }}
                                    </h4>
                                </li>
                                <li style="display: flex; align-items: center">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block" style="
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      margin-right: 10px;
                    ">
                    <i class="ti ti-id-badge-2"></i>
                  </span>
                                    <h4 class="nav-link-title" style="margin-bottom: 0">
                                        {{ dataObject?.rol }}
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br>
<div class="row">
    <div class="col-md-6 col-lg-12">
        <div class="card h-100 text-center">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-cyan">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
  <path d="M3 4m0 1a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1z" />
  <path d="M7 20l10 0" />
  <path d="M9 16l0 4" />
  <path d="M15 16l0 4" />
  <path d="M8 12l3 -3l2 2l3 -3" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <h2 class="card-title">Conoceles:</h2>
                <p class="text-muted">Estamos encantados de darte la bienvenida a nuestro sistema de administración de información, donde tendrás el control total de los datos y acciones. En esta página de inicio, encontrarás todas las herramientas y funciones que necesitas
                    para gestionar eficazmente la información. Nuestro objetivo es que te sientas cómodo y seguro al utilizar nuestro sistema. Siempre estamos trabajando para mejorar tu experiencia y proporcionarte las herramientas necesarias para tener
                    el control total de la información.</p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="card h-100 text-center">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-cyan">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" />
                      <path d="M12 9h.01" />
                      <path d="M11 12h1v4h1" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Importancia:</h3>
                <p class="text-muted">Los OPL contaran con información estadística respecto de los grupos en situación de discriminación o de atención prioritaria en los que se sitúan las personas candidatas, que le permita realizar análisis de datos y estadísticas como insumos
                    para el ejercicio de sus atribuciones.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card h-100 text-center">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-cyan">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
  <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
  <path d="M12 12m-8 0a8 8 0 1 0 16 0a8 8 0 1 0 -16 0" />
  <path d="M12 2l0 2" />
  <path d="M12 20l0 2" />
  <path d="M20 12l2 0" />
  <path d="M2 12l2 0" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Objetivo:</h3>
                <p class="text-muted">El proyecto Conoceles tiene como objetivo poner a disposición de la ciudadanía mexicana el currículo de las personas candidatas, proporcionando información relevante sobre las candidaturas, principios de paridad de género y consideraciones
                    para grupos en situación de discriminación. La implementación incluirá un portal público para la consulta ciudadana y un panel de administración para gestionar la información de los candidatos.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card h-100 text-center">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-cyan">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"
                      />
                      <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Objetivos del sistema:</h3>
                <p class="text-muted">El sistema facilitara a la ciudadanía el acceso a la información de las personas candidatas que participan a puestos de elección popular en el proceso electoral, maximizar la transparencia en la difusión de las candidaturas, la participación
                    de la población y el voto informado y razonado, a efecto de optimizar la toma de decisiones de la ciudadanía.</p>
            </div>
        </div>
    </div>
</div>