<div class="row">
  <div class="col-md-12">
    <div class="card bg-white-lt">
      <div class="card-body mb-2">
        <h3 class="card-title text-black mb-2">
          ¡Bienvenido al sistema de administración de la información!
        </h3>
        <p class="text-muted">
          Estamos encantados de darte la bienvenida a nuestro sistema de
          administración de información, donde tendrás el control total de los
          datos y acciones. En esta página de inicio, encontrarás todas las
          herramientas y funciones que necesitas para gestionar eficazmente la
          información. Nuestro objetivo es que te sientas cómodo y seguro al
          utilizar nuestro sistema. Siempre estamos trabajando para mejorar tu
          experiencia y proporcionarte las herramientas necesarias para tener el
          control total de la información.
        </p>
      </div>
    </div>
  </div>
</div>
