<div class="row row-cards">
  <div class="col-12 text-center">
    <div class="card text-center">
      <div class="card-body border-bottom py-3 text-center">
        <div class="d-flex text-center">
          <h3>¡Bienvenido!</h3>
         
          
        </div>
      </div>
      
      
    </div>
  </div>
</div>
<div class="row row-cards mt-2">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="ti ti-users me-1"></i>Usuarios</h3>
        
      </div>
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          
           <h3>¿Deseas agregar, editar o eliminar un usuario?</h3>
        </div>
        <a href="/panel/usuarios">

          <button class="btn btn-primary">
            <i class="ti ti-users me-1"></i>Da clic aqui
          </button>
        </a>
      </div>
      
      
    </div>
  </div>


  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="ti ti-user-check me-1"></i>Asignar formularios</h3>
        
      </div>
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          
           <h3>¿Deseas asignar un formulario a uno o más usuarios? </h3>
        </div>
        <a href="/panel/asignacion">

          <button class="btn btn-primary">
            <i class="ti ti-user-check me-1"></i>Da clic aqui
          </button>
        </a>
      </div>
      
      
    </div>
  </div>

</div>

<div class="row row-cards mt-2">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="ti ti-podium me-1"></i>Candidatos</h3>
        
      </div>
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          
           <h3>¿Deseas registrar, editar, eliminar o ver la información de un candidato? </h3>
        </div>
        <a href="/panel/candidatos">

          <button class="btn btn-primary">
            <i class="ti ti-podium me-1"></i>Da clic aqui
          </button>
        </a>
      </div>
      
      
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="ti ti-map-pin me-1"></i>Demarcaciones</h3>
        
      </div>
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          
           <h3>¿Deseas registrar, editar o eliminar un distrito local, un ayuntamiento o una comunidad? </h3>
        </div>
        <a href="/panel/demarcaciones">

          <button class="btn btn-primary">
            <i class="ti ti-map-pin me-1"></i>Da clic aqui
          </button>
        </a>
      </div>
      
      
    </div>
  </div>
</div>


<div class="row row-cards mt-2">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> <i class="ti ti-file-plus me-1"></i>Formularios</h3>
        
      </div>
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          
           <h3>¿Deseas registrar, editar, eliminar la configuración de un formulario? </h3>
        </div>
        <a href="/panel/formulario">

          <button class="btn btn-primary">
            <i class="ti ti-file-plus me-1"></i>Da clic aqui
          </button>
        </a>
      </div>
      
      
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="ti ti-list me-1"></i>Cuestionarios</h3>
        
      </div>
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          
           <h3>¿Deseas registrar las respuestas a un cuestionario de google forms? </h3>
        </div>
        <a href="/panel/mis-cuestionarios">

          <button class="btn btn-primary">
            <i class="ti ti-list me-1"></i>Da clic aqui
          </button>
        </a>
      </div>
      
      
    </div>
  </div>
</div>

<div class="row row-cards mt-2">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="ti ti-users-group me-1"></i>Partidos políticos</h3>
        
      </div>
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          
           <h3>¿Deseas registrar, editar, eliminar un partido político, una coalición o una candidatura independiente? </h3>
        </div>
        <a href="/panel/partidos">

          <button class="btn btn-primary">
            <i class="ti ti-users-group me-1"></i>Da clic aqui
          </button>
        </a>
      </div>
      
      
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="ti ti-palette me-1"></i>Personalización del portal</h3>
        
      </div>
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          
           <h3>¿Deseas registrar el logo del instituto, el logo de la aplicación y la imagen de bienvenida asi como las redes sociales y los colores del sistema? </h3>
        </div>
        <a href="/panel/personalizacion">

          <button class="btn btn-primary">
            <i class="ti ti-palette me-1"></i>Da clic aqui
          </button>
        </a>
      </div>
      
      
    </div>
  </div>
</div>


<div class="row row-cards mt-2">
  

  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="ti ti-help-octagon me-1"></i>Preguntas frecuentas</h3>
        
      </div>
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          
           <h3>¿Aún no encuentras lo que necesitas o no sabes como utilizar el sistema?</h3>
           
          </div>

          <a href="/panel/faq">

            <button class="btn btn-primary">
              <i class="ti ti-help-octagon me-1"></i>Da clic aqui
            </button>
          </a>
          
      </div>
      
      
    </div>
  </div>
</div>
