<div class="row row-cards">
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="ribbon ribbon-top bg-yellow">
        <i class="ti ti-bell-filled"></i>
      </div>
      <div class="card-body">
        <h3 class="card-title">Cuestionario de Identidad</h3>
        <p class="text-muted">Cuestionario pendiente por contestar</p>
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#modal-google-form"
          (click)="handleClick()"
        >
          Contestar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="ribbon ribbon-top bg-green">
        <i class="ti ti-check"></i>
      </div>
      <div class="card-body">
        <h3 class="card-title">Cuestionario Curricular</h3>
        <p class="text-muted">Cuestionario contestado correctamente</p>
        <button
          class="btn btn-warning"
          data-bs-toggle="modal"
          data-bs-target="#modal-google-form"
          (click)="handleClick()"
        >
          Editar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal modal-blur fade"
  id="modal-google-form"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cuestionario</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <iframe
          id="googleForm"
          [src]="googleFormUrl"
          width="640"
          height="1035"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          scrolling="no"
          >Cargando…</iframe
        >
      </div>
    </div>
  </div>
</div>
