<form [formGroup]="ConsentimientoForm3" >
<div class="card">
    <div class="card-body">
        <div class="margin" *ngIf="consentimiento && result.consentimiento">
            <h2 class="h2">{{ consentimiento.nombre }}</h2>
            <div *ngIf="textoSeguro" [innerHTML]="textoSeguro"></div>

            <br>
            <input type="checkbox" [(ngModel)]="isChecked" (change)="onCheckboxChange()" formControlName="fechaaceptacion">
            Acepto todos los terminos y condiciones
            <div *ngIf="ConsentimientoForm3.get('fechaaceptacion')?.touched"class="error-message">
                <div *ngIf="ConsentimientoForm3.get('fechaaceptacion')?.hasError('required')" class="text-danger">
                  La aceptacion es requerida
                </div>
            </div>
            <br><p></p>
            <div class="container">
                <button type="submit" class="btn btn-primary" (click)="Aceptar();" [disabled]="!isChecked || !ConsentimientoForm3.valid">Siguiente</button>
            </div>
        </div>
    </div>
  </div>
</form>
