<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Candidatos</h3>
            </div>
            <div class="card-body border-bottom py-3">
                <div class="d-flex">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-report">
                    <i class="ti ti-plus me-1"></i>Agregar Candidato
                  </button>
                    <div class="ms-auto text-muted">
                        <div class="input-icon">
                            <input type="text" value="" class="form-control form-control-rounded" placeholder="Buscar" />
                            <span class="input-icon-addon">
                            <i class="ti ti-search"></i>
                          </span>
                        </div>
                    </div>
                </div>
            </div>

            <!--MODAL AGREGAR USUARIO-->
            <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Nuevo Candidato</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"> </button>
                        </div>
                        <div class="modal-body">
                            <!-- Inicio del formulario -->
                            <form [formGroup]="userForm" (ngSubmit)="guardarUsuario()">


                                <!--PARA CREAR OTRA FILA DE INPUTS COPIA Y PEGA EL CODIGO QUE ESTA DENTRO DEL COMENTARIO-->
                                <p>Información referente al candidato</p>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre</label>
                                            <input type="text" class="form-control" formControlName="nombre" (focus)="marcarNombreComoTocado()" />
                                            <div *ngIf="nombreTocado && userForm.get('nombre')?.hasError('required')" class="error-message">
                                                El nombre es requerido.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--HASTA AQUI-->

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Ocupación</label>
                                            <input type="text" class="form-control" formControlName="ocupacion" (focus)="marcarOcupacionTocada()" />
                                            <div *ngIf="ocupacionTocada && userForm.get('ocupacion')?.hasError('required')" class="error-message">
                                                La ocupación es requerida.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Partido Político</label>
                                            <input type="text" class="form-control" formControlName="partidoPolitico" (focus)="marcarPartidoPoliticoTocado()" />
                                            <div *ngIf="partidoPoliticoTocado && userForm.get('partidoPolitico')?.hasError('required')" class="error-message">
                                                El nombre del Partido Político es requerido.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Ubicación en Google Maps</label>
                                            <input type="text" class="form-control" formControlName="ubicacionGoogle" (focus)="marcarUbicacionGoogleTocada()"/>
                                            <div *ngIf="ubicacionGoogleTocada && userForm.get('ubicacionGoogle')?.hasError('required')" class="error-message">
                                                La ubicación en Google es requerida
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Dirección</label>
                                            <input type="text" class="form-control" formControlName="direccion" (focus)="marcarDireccionTocada()" />
                                            <div *ngIf="direccionTocada && userForm.get('direccion')?.hasError('required')" class="error-message">
                                                La dirección es requerida
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Teléfono</label>
                                            <input type="text" class="form-control" formControlName="telefono" (focus)="marcarTelefonoTocado()" />
                                            <div *ngIf="telefonoTocado && userForm.get('telefono')?.hasError('required')" class="error-message">
                                                El número de teléfono es requerido
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Correo electrónico</label>
                                            <input type="text" class="form-control" formControlName="correo" (focus)="marcarCorreoTocado()" />
                                            <div *ngIf="correoTocado && userForm.get('correo')?.hasError('required')" class="error-message">
                                                La dirección de correo electrónico es requerida.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Link de Facebook</label>
                                            <input type="text" class="form-control" formControlName="linkFacebook" (focus)="marcarLinkFacebookTocado()" />
                                            <div *ngIf="linkFacebookTocado && userForm.get('linkFacebook')?.hasError('required')" class="error-message">
                                                El link de Facebook es requerido.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Usuario de Facebook</label>
                                            <input type="text" class="form-control" formControlName="userfacebook" (focus)="marcarUserFacebookTocado()" />
                                            <div *ngIf="userFacebookTocado && userForm.get('userfacebook')?.hasError('required')" class="error-message">
                                                El Usuario de Facebook es requerido.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Link de Instagram</label>
                                            <input type="text" class="form-control" formControlName="linkIG" (focus)="marcarLinkIGTocado()" />
                                            <div *ngIf="linkIGTocado && userForm.get('linkIG')?.hasError('required')" class="error-message">
                                                El link de Instagram es requerido.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Usuario de Instagram</label>
                                            <input type="text" class="form-control" formControlName="userIG" (focus)="marcarUserIGTocado()" />
                                            <div *ngIf="userIGTocado && userForm.get('userIG')?.hasError('required')" class="error-message">
                                                El usuario de Instagram es requerido.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Link de Twitter</label>
                                            <input type="text" class="form-control" formControlName="linkTwitter" (focus)="marcarLinkTwitterTocado()" />
                                            <div *ngIf="linkTwitterTocado && userForm.get('linkTwitter')?.hasError('required')" class="error-message">
                                                El link de Twitter es requerido.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Usuario de Twitter</label>
                                            <input type="text" class="form-control" formControlName="userTwitter" (focus)="marcarUserTwitterTocado()" />
                                            <div *ngIf="userTwitterTocado && userForm.get('userTwitter')?.hasError('required')" class="error-message">
                                                El usuario de Twitter es requerido.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">WhatsApp</label>
                                            <input type="text" class="form-control" formControlName="whatsapp" (focus)="marcarWhatsAppTocado()" />
                                            <div *ngIf="whatsappTocado && userForm.get('whatsapp')?.hasError('required')" class="error-message">
                                                El número de WhatsApp es requerido.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Eslogan</label>
                                            <input type="text" class="form-control" formControlName="eslogan" (focus)="marcarEsloganTocado()" />
                                            <div *ngIf="esloganTocado && userForm.get('eslogan')?.hasError('required')" class="error-message">
                                                El eslogan es requerido.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Edad</label>
                                            <input type="text" class="form-control" formControlName="edad" (focus)="marcarEdadTocada()" />
                                            <div *ngIf="edadTocada && userForm.get('edad')?.hasError('required')" class="error-message">
                                                La edad es requerida.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Estado</label>
                                            <input type="text" class="form-control" formControlName="estado" (focus)="marcarEstadoTocado()" />
                                            <div *ngIf="estadoTocado && userForm.get('estado')?.hasError('required')" class="error-message">
                                                El estado es requerido.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Género</label>
                                            <input type="text" class="form-control" formControlName="genero" (focus)="marcarGeneroTocado()" />
                                            <div *ngIf="generoTocado && userForm.get('genero')?.hasError('required')" class="error-message">
                                                El género es requerido.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <p>Información referente al suplente</p>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre del suplente</label>
                                            <input type="text" class="form-control" formControlName="nombreSup" (focus)="marcarNombreSupTocado()" />
                                            <div *ngIf="nombreSupTocado && userForm.get('nombreSup')?.hasError('required')" class="error-message">
                                                El nombre del suplente es requerido.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Edad del suplente</label>
                                            <input type="text" class="form-control" formControlName="edadSup" (focus)="marcarEdadSupTocada()" />
                                            <div *ngIf="edadSupTocada && userForm.get('edadSup')?.hasError('required')" class="error-message">
                                                La edad del suplente es requerida.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Estado del suplente</label>
                                            <input type="text" class="form-control" formControlName="estadoSup" (focus)="marcarEstadoSupTocado()" />
                                            <div *ngIf="estadoSupTocado && userForm.get('estadoSup')?.hasError('required')" class="error-message">
                                                El estado del suplente es requerido.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Género del suplente</label>
                                            <input type="text" class="form-control" formControlName="generoSup" (focus)="marcarGeneroSupTocado()" />
                                            <div *ngIf="generoSupTocado && userForm.get('nombre')?.hasError('required')" class="error-message">
                                                El genero del suplente es requerido.
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <hr>
                                <p>Información con respecto a la candidatura</p>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Historia del candidato</label>
                                            <textarea cols="50" rows="4" class="form-control" formControlName="historia" (focus)="marcarHistoriaTocada()"></textarea>
                                            <div *ngIf="historiaTocada && userForm.get('historia')?.hasError('required')" class="error-message">
                                                La historia es requerida.
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Carrera del candidato</label>
                                            <input type="text" class="form-control" formControlName="carrera" (focus)="marcarCarreraTocada()" />
                                            <div *ngIf="carreraTocada && userForm.get('carrera')?.hasError('required')" class="error-message">
                                                La carrera es requerida.
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Razón para postularse</label>
                                            <textarea cols="50" rows="4" class="form-control" formControlName="razon" (focus)="marcarRazonTocada()"></textarea>
                                            <div *ngIf="razonTocada && userForm.get('razon')?.hasError('required')" class="error-message">
                                                La razón para postularse es requerida.
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre de la propuesta 1</label>
                                            <input type="text" class="form-control" formControlName="nombreProp1" (focus)="marcarNombreProp1Tocado()" />
                                            <div *ngIf="nombreProp1Tocado && userForm.get('nombreProp1')?.hasError('required')" class="error-message">
                                                El nombre de la propuesta 1 es requerido.
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Propuesta 1</label>
                                            <textarea cols="50" rows="4" class="form-control" formControlName="prop1" (focus)="marcarProp1Tocada()"></textarea>
                                            <div *ngIf="prop1Tocada && userForm.get('prop1')?.hasError('required')" class="error-message">
                                                La propuesta 1 es requerida.
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre de la propuesta 2</label>
                                            <input type="text" class="form-control" formControlName="nombreProp2" (focus)="marcarNombreProp2Tocado()" />
                                            <div *ngIf="nombreProp2Tocado && userForm.get('nombreProp2')?.hasError('required')" class="error-message">
                                                El nombre de la propuesta 2 es requerido.
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Propuesta 2</label>
                                            <textarea cols="50" rows="4" class="form-control" formControlName="prop2" (focus)="marcarProp2Tocada()"></textarea>
                                            <div *ngIf="prop2Tocada && userForm.get('prop2')?.hasError('required')" class="error-message">
                                                La propuesta 2 es requerida.
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre de la propuesta 3</label>
                                            <input type="text" class="form-control" formControlName="nombreProp3" (focus)="marcarNombreProp3Tocado()" />
                                            <div *ngIf="nombreProp3Tocado && userForm.get('nombreProp3')?.hasError('required')" class="error-message">
                                                El nombre de la propuesta 3 es requerido.
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Propuesta 3</label>
                                            <textarea cols="50" rows="4" class="form-control" formControlName="prop3" (focus)="marcarProp3Tocada()"></textarea>
                                            <div *ngIf="prop3Tocada && userForm.get('prop3')?.hasError('required')" class="error-message">
                                                La propuesta 3 es requerida.
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Trayectoria</label>
                                            <textarea cols="50" rows="4" class="form-control" formControlName="trayectoria" (focus)="marcarTrayectoriaTocada()"></textarea>
                                            <div *ngIf="trayectoriaTocada && userForm.get('trayectoria')?.hasError('required')" class="error-message">
                                                La trayectoria es requerida.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Grado Académico</label>
                                            <input type="text" class="form-control" formControlName="gradoAcad" (focus)="marcarGradoAcadTocado()" />
                                            <div *ngIf="gradoAcadTocado && userForm.get('gradoAcad')?.hasError('required')" class="error-message">
                                                El grado académico es requerido.
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <!-- Fin del formulario -->
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link link-secondary" (click)="resetForm()">
                            Limpiar
                          </button>
                            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid" (click)="agregarUsuario()">
                            Crear nuevo candidato
                          </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--FIN MODAL-->

            <ng-container [ngSwitch]="isLoadingUsers">
                <div class="progress" *ngSwitchCase="2">
                    <div class="progress-bar progress-bar-indeterminate bg-green"></div>
                </div>

                <div *ngSwitchCase="3">
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th class="w-1">Id</th>
                                    <th>Nombre</th>
                                    <th>Cargo</th>
                                    <th>Partido Politico</th>
                                    <th class="text-center" style="width: 7%">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody">
                                <tr></tr>
                                <tr *ngFor="let usuario of candidatoFilter; let pointIndex = index">
                                    <td>{{ pointIndex + 1 }}</td>
                                    <td>{{ usuario.nameCandidate }}</td>
                                    <td>{{ usuario.position }}</td>
                                    <td>{{ usuario.actorPolitico }}</td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <button class="btn btn-warning btn-icon btn-sm">
                                            <i
                                              class="ti ti-edit"
                                              data-bs-toggle="modal"
                                              data-bs-target="#myModal"
                                            ></i>
                                          </button>
                                            <button class="btn btn-danger btn-icon btn-sm">
                                            <i class="ti ti-eraser"></i>
                                          </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer d-flex align-items-center">
                        <p class="m-0 text-muted">
                            Showing <span>1</span> to <span>8</span> of
                            <span>16</span> entries
                        </p>
                        <ul class="pagination m-0 ms-auto">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M15 6l-6 6l6 6" />
                </svg> prev
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                next
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M9 6l6 6l-6 6" />
                </svg>
              </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <app-no-results *ngSwitchCase="4"></app-no-results>
            </ng-container>
        </div>
    </div>
</div>

<!--MODAL AGREGAR USUARIO-->
<div class="modal modal-blur fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Inicio del formulario -->
                <form [formGroup]="userForm" (ngSubmit)="guardarUsuario()">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Nombre</label>
                                <input type="text" class="form-control" formControlName="nombre" />
                                <div *ngIf="userForm.get('nombre')?.hasError('required')">
                                    El nombre es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Apellidos</label>
                                <input type="text" class="form-control" formControlName="nombre" />
                                <div *ngIf="userForm.get('nombre')?.hasError('required')">
                                    Los apellidos son requeridos.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Correo Electrónico</label>
                                <input type="text" class="form-control" formControlName="correo" />
                                <div *ngIf="userForm.get('correo')?.hasError('required')">
                                    El correo es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Contraseña</label>
                                <input type="password" class="form-control" formControlName="contraseña" />
                                <div *ngIf="userForm.get('contraseña')?.hasError('required')">
                                    La contraseña es requerida.
                                </div>
                                <div *ngIf="userForm.get('contraseña')?.hasError('minlength')">
                                    La contraseña debe tener al menos 8 caracteres.
                                </div>
                                <div *ngIf="userForm.get('contraseña')?.hasError('pattern')">
                                    La contraseña debe contener al menos una letra mayúscula y un número.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Rol</label>
                                <select class="form-select" formControlName="rol">
                <option value="1">Administrador</option>
                <option value="2">Usuario</option>
                <option value="3">Candidato</option>
              </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="estadoActivo" class="form-label">Estatus</label>
                                <label class="form-check form-switch checkbox-verde">
                <input
                  class="form-check-input"
                  type="checkbox"
                  formControlName="estadoActivo"
                />
                <span
                  class="form-check-label"
                  [ngClass]="{
                    'text-success':
                      userForm.get('estadoActivo')?.value === true,
                    'text-danger':
                      userForm.get('estadoActivo')?.value === false
                  }"
                >
                  {{
                    userForm.get("estadoActivo")?.value === true
                      ? "Activo"
                      : "Inactivo"
                  }}
                </span>
              </label>
                            </div>
                        </div>
                    </div>
                    <!-- Fin del formulario -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link link-secondary" data-bs-dismiss="modal" (click)="resetForm()">
        Limpiar
      </button>
                <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">
        Actualizar usuario
      </button>
            </div>
        </div>
    </div>
</div>