.margen{
    padding-left: 60px;
    padding-right: 60px
}
.spacio{
    padding-bottom: 8px;
}
.spacios{
    padding-bottom: 10px;
}

.label1{ 
    padding-left: 60px;
}

.button{
    margin-left: 5px;
}
.button2{
    margin-right: 15px;
}
.enviar{
    display: flex;
  justify-content: center; 
  text-align: center;
  margin: 0 auto;
    margin-bottom: 20px;
}